[2018-10-30 14:02] authule commented on #207
Hi Rafael,
Thanks for the prompt response,

The situation I've described was for setting the second argument to True, because I wanted to account for the photons emitted via synchrotron as well. And you are right, the reason for killing the job is exceeding the memory at some point. Do I understand correctly, that nothing could be done with that at the moment and I have to skip accounting for sync

[2018-10-30 14:11] rafaelab commented on #207
I don't know what is your specific problem, but often most of the synchrotron photons are in a region below what CRPropa can do (~10 GeV). For many problems this should be enough.

You may also run into problems if the number of UHE photons you are using is too high, even without accounting for synchrotron.
There is nothing that you can do about it now. Perhaps, simulate one particle at a time.

W

[2018-10-30 14:13] authule commented on #207
Thank you very much, I will follow your suggestions!

[2018-10-31 10:18] JulienDoerner opened #208 "Preparation for pullrequest | Data-Files"
I prepare a pull request for gas density models of the Milky Way.
There are several models for the distribution of hydrogen. To implement the Model of Pohl et al. (https://arxiv.org/abs/0712.4264) are 2 txt-Files needed. One for the H2 (described in the arXiv paper) and one for the HI component (private communication).
How can I get these files in the data-folder?

[2018-10-31 11:03] TobiasWinchen commented on #208
The data files/scripts to generate them are stored in a separate repository: https://github.com/CRPropa/CRPropa3-data

However, it might be better to distribute the datafiles separately as e.g. the magnetic field data. How large are the files?

[2018-10-31 13:58] JulienDoerner commented on #208
The files have together 57 MB. This should not take to long in download. Therefore it should be no problem to include them.

[2018-10-31 14:12] adundovi commented on #208
We could put them in our data web location, but I would still like to keep them as an optional addition (not included by default). Are they required for the basic functionality?

[2018-10-31 14:17] lukasmerten commented on #208
They are not required for the basic functionality but only for one specific (Pohl et al.) model of the Galactic mass distribution.

@adundovi Could explain (via e-mail) me how to upload the files to the weblocation?

[2018-10-31 17:11] TobiasWinchen commented on #208
As these data files are larger then the total current download I would prefer also to have them as additional download.

[2018-11-05 07:22] zhucr opened #209 "some thing is wrong with calc_photodisintegration.py"
when I use the calc_photodisintegration.py , the output will be like this:
CMB
/CRPropa3-data-master/photonField.py:30: RuntimeWarning: overflow encountered in exp
  return 8*np.pi / c0**3 / h**3 * eps**2 / (np.exp(eps/(kB*T_CMB)) - 1)
Traceback (most recent call last):
  File "calc_photodisintegration.py", line 90, in <module>
    B1[s] /= sum(B1[s], axis=0)
TypeError: sum() takes no keyword argu

[2018-11-05 13:55] adundovi commented on #209
The runtime warning is not related to the type error which interrupted the execution of the script. One should add only np. in front of those two sum() functions and it should work. I'll do the same it in the repository so you can just pull changes.

[2018-11-05 13:55] #209 closed

[2018-11-08 04:41] zhucr commented on #209
Thanks very much.

[2018-11-08 08:41] lukasmerten commented on #207
I close for now, when @rafaelab's are not working please reopen.

[2018-11-08 08:41] #207 closed

[2018-11-10 06:21] saikat8018 opened #212 "GMF and EGMF simultaneously"
Hi,

Can someone please tell me whether it is possible to add galactic and extragalactic magnetic fields simultaneously in the same 3D simulation? If so, how should I define the propagation module argument? For example, if I have,
[code]
Then how can I define the argument of `PropagationCK` module in the simulation? Also, what will be the periodic boundary conditions in this case?

[2018-11-10 09:55] adundovi commented on #212
In principle you can implement a custom field which combines those two, and provide it to `PropagationCK`. For example, something like this:
[code]
Boundaries are defined on the level of original fields, i.e., they are property of magnetic fields, thus you should take care of boundaries before putting those two fields together.

[2018-11-10 09:55] #212 closed

[2018-11-10 10:34] adundovi commented on #212
Doh, I totally forgot - there is already [`MagneticFieldList`](http://crpropa.github.io/CRPropa3/group__MagneticFields.html#classcrpropa_1_1MagneticFieldList) that combines magnetic fields just like I described above.

[2018-11-10 10:38] saikat8018 commented on #212
Okay. Thank you very much. This helps

[2018-11-19 10:57] Froehliche-Kernschmelze opened #213 "discretize SOPHIA"
currently discretizing the SOPHIA code, aiming to fix the saturation of the PhotoPionProduction beyond 8 cores.

[2018-11-19 11:12] adundovi commented on #213
I once had started to do something similar, but never finished. Maybe the following will help.

This is ```Makefile``` that generates a python interface for SOPHIA:
[code]
And this is my naive approach to generate tables of events
[code]
If this can help great, if not - well, you proceed as planned.

[2018-11-27 16:08] MRCWirtz commented on #188
The script runs also completely fine for me. I guess this issue can be closed?

[2018-11-28 10:52] TobiasWinchen commented on #188
We have two other issues #85 and #99 where on rare occasions CRPropa crashes in interactions due to something strange happening with the secondaries. Since recently the random number seeds are stored which may help to get to the bottom of these issues. Personally I think these issue are not resolved as we have no idea what happened and thus should not be closed.

[2018-11-28 11:11] saikat8018 commented on #188
I encounter the issue mentioned in [#85](https://github.com/CRPropa/CRPropa3/issues/85) very frequently. For elements heavier than Nitrogen, there is this error:
[code]
Is there a way this can be stopped?

[2018-11-28 12:10] saikat8018 commented on #85
Hi Tobias,

1. Here is a minimal script, that gives me the error - [sim.txt](https://github.com/CRPropa/CRPropa3/files/2624358/sim.txt). How can I store the random seed in the output file?
2. I am using CRPropa3-3.1. The latest release version available on github.
3. The operating system is Ubuntu 16.04 (the error appears also in Ubuntu 18.04 in another machine)
4. f95, gcc, g++ (version 7.3.0) co

[2018-11-28 13:22] TobiasWinchen commented on #85
Thank you for the infos. You can enable the storage of the random seeds in TextOutput using
[code]

The textoutput will then contain lines such as
[code]

To ease reproducibility and debugging it is best to disable multi threading with
``
OMP_NUM_THREADS=1 python sim.py
``

[2018-11-28 14:56] saikat8018 commented on #85
Hi Tobias,

You are very much right. I checked and too found that with increased source distances, the message shows up more frequently. Thank you for pointing this out. Does this affect the simulation output in any way?

On using `t.enableRandomSeeds()` I get the following error
`AttributeError: 'crpropa.TextOutput' object has no attribute 'enableRandomSeeds'`

[2018-12-05 14:09] MRCWirtz opened #214 "Implementing new TF17 GMF model"
Philippe Terral and Katia Ferriere recently developed a new galactic magnetic field model and improved the halo X-field of the large scale component, by testing 4 different analytical models against RM data:
https://arxiv.org/abs/1611.10222

I am about to implement this field in CRPropa. It should give much better comparison than e.g. the PT11 field, which is implemented so far...

[2018-12-08 16:32] saikat8018 opened #216 "Weight secondary photons spectrum to new injection spectral index"
Suppose, I run a simulation generating secondary photons from cosmic ray propagation with an initial injection spectral index a_i and propagate the photons below a crossover energy of 0.1*EeV with DINT. But DINT output provides only the photon flux in each energy bin. Is there a way by which I can find the photon spectrum for a different injection spectral index a_f. In the case of cosmic ray spec

[2018-12-09 22:04] rafaelab commented on #216
This is currently not possible with DINT, as it is NOT the standard Monte Carlo simulation that you can just reweight. Therefore, you will need to simulate the UHECRs for each specific scenario, and then compute the photon fluxes with DINT.

[2018-12-10 02:18] Froehliche-Kernschmelze commented on #213
I came up with an event generator that generates SOPHIA events from histogram data. These histograms have been created from raw SOPHIA output data. The event generator may be operated in "preserve" mode which preserves quantum numbers at the expense of run time or a "stochastic" mode which is faster but does not preserve quantum numbers.

Subsequently, you can find an example of this generator's o

[2018-12-10 10:16] avvliet commented on #216
What is actually possible is to do the reweighting on the photon output file after you generate it with CRPropa and before you put it into DINT. So you do not have to rerun the CRPropa simulation, but you do have to rerun DINT.

[2018-12-10 11:59] saikat8018 commented on #216
Arjen, how can I implement this method, if DINT takes input only in `PhotonOutput1D()` format? By reweighting the photon output from CRPropa, I can generate the histogram of weighted events. But is it possible to pass this histogram to DINT?

[2018-12-10 12:47] avvliet commented on #216
No, the input that you give to DINT has to be in the same format as the output of PhotonOutput1D(). So what you can do in the reweighting is, for each event in the output file, drawing a random number, see if that random number is smaller than the weight, and if it is write it to a new file with the same format as the output file. So you accept the particle when the weight is larger than the rando

[2018-12-11 09:18] TobiasWinchen commented on #213
Looks great - I am looking forward to your pull request. Probably it would be best to have this as a pair of flags (e.g. useTabulatedData=True/False, preserveQuantumNumbers=True/False) in the existing module module.

It would be nice to  also have the performance improvements of the modes compared to standard as function of the number of cores?

[2018-12-18 16:02] TobiasWinchen commented on #206
I guess the clues example is enough to close this.
https://github.com/CRPropa/CRPropa3-notebooks/blob/master/extragalactic_fields/MHD_models.v4.ipynb

[2018-12-18 16:02] #206 closed

[2018-12-21 05:43] saikat8018 opened #217 "Different spectrum from different methods to apply redshift evolution"
Hi,

I want to have sources at distances, which equals their redshift taken from a distribution (1+z)^m. I have been applying a weight factor of (1+z)^m to output events of uniform source distribution while putting them in energy bins post-simulation. I convert the 1D trajectory length to redshift for the purpose. But this produces a spectrum different from the one obtained by direct implementatio

[2018-12-31 01:08] Froehliche-Kernschmelze commented on #213
I have implemented the discretized SOPHIA event generator into CRPropa's PhotoPionProduction. This module now has an additional bool useTabulatedData. The option preserveQuantumNumbers has been discarded for now as this option appears to crash CRPropa.

In the figure below you find preliminary simulation run time measurements of the two options in dependence of the number of cores used. This was m

[2019-01-25 13:00] Vossmax opened #219 "DINT energy conservation"
Hi,

I tried to reproduce the photon flux calculated by the ELMAG code with CRPropa using DINT propagation. Since ELMAG and DINT don"t share an identical EBL model, I implemented the model by Gilmore (2012) in the background.cpp file of DINT. In the following plot you see my result.
![cr-elm2](https://user-images.githubusercontent.com/47029650/51746175-82f07480-20a5-11e9-975c-7d18f554e2cf.png)
The

[2019-02-14 09:25] lukasmerten opened #221 "Doxygen: Wrong Inheritance Diagram for Groups"
For all inheritance diagrams of classes that added to a group the diagram shows only the entry of the class that is added last to that group.
See for example the group "Propagation": http://crpropa.github.io/CRPropa3/group__Propagation.html

[2019-02-14 19:49] #221 closed

[2019-02-15 08:02] lukasmerten commented on #221
Thanks for fixing that Tobias. Looks good now.

[2019-02-18 14:37] authule opened #223 "Memory requirements for photon-initiated EM cascade"
Dear all,

I am trying to propagate a 10^20 eV photon in a turbulent magnetic field to study the distribution of product particles, cutting their energy at 1 TeV (8 decades margin), aiming at 9 decades (10^21 eV photon). At propagation distances over 50 Mpc it starts running out of memory. Currently I am limited with 120 Gb of memory. Could anyone provide any estimations (or ideas) of memory neede

[2019-02-19 13:02] lukasmerten opened #224 "git history"
Hi all,
it seems that @TobiasWinchen's fix of amount of contributed code introduces some issues in the git history.

When I try to merge the current CRPropa/master branch into my local master branch I to get a bunch of merge conflicts. Since this fix my master and the CRPropa3/master are diverged by ~1300 commits.

This is probably also related to the huge number of changed files in Mario's pull r

[2019-02-19 14:41] antoniusf commented on #224
Hi all,

I've just taken a closer look at this, and it appears to me that the fix has rewritten a large part of the entire commit history (compare the 1300 commits divergence in most forks vs about 1500 commits total). The last non-rewritten commit appears to be at 6f4b17e3f123d636036b43fa056841dd178495aa.

To remove Mike's unnecessary contribution, I do feel like it should be sufficient to to rew

[2019-02-19 15:00] TobiasWinchen commented on #224
I guess that rebasing the branches onto master should do the trick

[2019-02-19 15:22] lukasmerten commented on #224
I just created a new branch from my current master to test the rebase.
`git checkout -b TestMaster`
Then I tried to rebase on current CRPropa3/master
`git rebase upstream/master`,
where upstream is pointing to https://github.com/CRPropa/CRPropa3

It did not work and creates a lot of merge conflicts, too.

[2019-02-19 16:20] TobiasWinchen commented on #224
@lukasmerten - I just tried to reproduce the problem and cloned your master from github and added CRPropa3/master as upstream:
 `$git remote add upstream https://github.com/CRPropa/CRPropa3 && git fetch upstream`
I then tried to merge
`$git merge upstream/master`
yielding only few conflicts:

[code]
Did I reproduce the state of your repository?

[2019-02-25 09:47] lukasmerten commented on #224
Yes that reproduces the error.

Since I am quite busy with writing down my thesis I do not have the time to take a closer look at this problem right now. So I will merge for now and simply always choose the CRPropa3/master file.

However, I will appreciate it if we avoid rewriting the history on CRPropa3/master in the furture.

[2019-02-25 12:35] Froehliche-Kernschmelze opened #225 "lack of secondary protons or neutrons in the PhotoPionProduction?"
Dear all,

from the current implementation of the treatment of secondary particles in the `PhotoPionProduction` it seems that there would no secondary non-antinucleons be added shall they be created in SOPHIA. My concerns evolve around

https://github.com/CRPropa/CRPropa3/blob/bd39f844217a02c7b5f4d3f6a67d88d22617650a/src/module/PhotoPionProduction.cpp#L235-L269

**How this part of the code (curren

[2019-02-26 10:41] Froehliche-Kernschmelze commented on #225
There is a minimal code example of how to reliably reproduce the bug. This script generates a nucleon output file in which there should be a handful of anti-nucleons. However, the total amount of output nucleons is always

N_nucleonsInjected + N_antiNucleons

as opposed to

N_nucleonsInjected + **2** * N_antiNucleons

Also, note that a neighbour entry of most anti-nucleons usually shows an energy

[2019-02-26 16:06] adundovi commented on #225
I'll look into this. BTW maybe referencing the [CRPropa2 implementation](https://github.com/CRPropa/CRPropa2/blob/master/src/Interactions/sophiainteractions.cc) could be of some help.

[2019-02-26 17:16] antoniusf commented on #224
Hey everyone,

This thread appears to have gone a bit quiet in the past few days, but I must admit that I am not quite happy with the state the repository is currently in.

I believe that the right thing to do is to undo the entirety of the fix, and to restore the official master branch to its original un-modified history. In the rest of this post, I will elaborate on my reasoning on this, and I w

[2019-02-26 17:39] lukasmerten commented on #224
Thanks @antoniusf for summarizing the problem in depth. It explains pretty much what I was thinking about the issue but had neither the time nor the abilities to bring to the point.

In my opinion we should go for the extra work to undo the changes and repair the the git history -- especially when @antoniusf is offering to do that work.

[2019-02-26 18:42] adundovi commented on #224
My local repo was synchronised last time in September ( 2071e32 to be more specific), thus, I'm a bit out of context and cannot be too helpful in restoring the most recent healthy state of the original repository. As far as understood the problem, I vote for restoring the original history as @antoniusf suggested. But please, before you proceed make a few backups, just in case :-)

Also, I see that

[2019-03-04 05:51] TobiasWinchen commented on #224
I agree with @antoniusf suggestion and apologize for the troubles my quick solution caused - to prevent such things in the future, it might be a good idea to disallow force pushing to master.

[2019-03-04 14:40] antoniusf commented on #224
Hi folks,

thanks so much for all of your responses! I really do appreciate that you've taken the time to do this, even though there are probably many other things you'd rather be working on instead.

I have good news for you all: I've started working on the reconstruction, but then realized that the original master commit (and its entire history) might still be lying around in the repository. Luc

[2019-03-06 16:19] antoniusf commented on #224
To speed things up a little, I'm just going to suggest right now that we go with the first option, restoring the master branch from its original state. At this point, it seems like the safest, fastest, and simplest option.

While this _will_ mean that the contributors page retains some inaccurate information, I doubt that we're the only project who's had to handle something like this. To be honest

[2019-03-07 08:01] TobiasWinchen commented on #224
If you are working on this anyway, I would suggest fixing the `bad merge' by squashing the Boris Push PR into fewer commits in one go.

[2019-03-07 11:52] antoniusf commented on #224
By "fixing the bad merge", do you mean fixing the inaccurate number of lines added on the contributor overview? This could be achieved relatively simply by combining the original history with the rewritten problematic commit, which would take about five minutes since I already have the scripts set up for this.

I must admit that I dislike performing a `git squash` on the PR in this state, for the

[2019-03-07 20:00] TobiasWinchen commented on #224
The idea was to squash out the bogous addition/removal of files only. I still think we should try to fix also the contributors page. So how about reverting the repository to the stage before the merge of the boris push to undo the merge. We can then reapply the (few) changes to master afterwards and clean up the PR branch before a new merge? This is what should have been done in the first place in

[2019-03-08 14:14] antoniusf commented on #224
Oh, ok. I think I just misunderstood what you meant by "squash" in your previous answer. I agree that changing the history in only the borisPush branch is a lot less problematic.

I must admit that I don't quite understand what you're proposing, but what I do get from it seems sound to me. Regarding your repaired master, I'm not quite sure I understand what's going on? Starting with commit d4a9a61

[2019-03-08 19:24] TobiasWinchen commented on #224
This is what I was aiming for with the `RepairedHistory' branch, but I apparently missed some details around the merge.  I will check your branch more closely soon, but so far I think we should go with this version.

[2019-03-09 14:23] antoniusf commented on #224
Oh, awesome! Then I'll be curious to hear if it actually matches your intentions after you've inspected it more closely.

[2019-03-12 10:23] antoniusf commented on #224
Hi, any updates on this? Should we proceed with the version I posted, or do you need some more time?

[2019-03-12 22:22] TobiasWinchen commented on #224
I just checked @antoniousf [branch](https://github.com/antoniusf/CRPropa3/commits/restored-master-with-fix) and I think that we should force push it to master:
 * It contains all history before the merge of the BorisPush branch
 * The BorisPush is more or less cleaned and very similar to my attempt
 * It contains the correct commits added after the merge of the BP Branch

If everybody agrees with

[2019-03-13 11:18] adundovi commented on #225
Thanks Mario for a really detailed and easy-to-follow description of the issue. I've read your comments and run your example, also recalled some of the theory of hadronic interactions with photons.

I agree that this is a bug. If I remember the PPP mechanism correctly, for 1000 injected protons in your example we would have to record at least the comparable number of nucleons and anti-nucleons on

[2019-03-13 11:23] adundovi commented on #225
As you already studied SOPHIA in great detail, I would recommend inserting more code comments in the source of the PPP module which would describe better how CRPropa interacts with SOPHIA. Otherwise, I presume that in a few years someone could again stumble on it trying to understanding what is going on. :-) Thanks again for your work!

[2019-03-13 15:24] reichherzerp commented on #224
I think the branch looks good. Thanks a lot for the work to fix the problems.

[2019-03-13 17:53] antoniusf commented on #224
Thanks for taking the time to verify the branch! I hope I wasn't too pushy when I asked for your status.

I'd be very happy if you did the reset! Can't wait to have this off my plate :)

[2019-03-14 08:09] adundovi commented on #225
If the primary particle is always the first in the list, we don't need `bool isPrimary = True`, we need only to iterate from 1 to n in the for loop, while the zeroth case handle separately.

[2019-03-14 20:23] TobiasWinchen commented on #224
Done - I will set up branch protection now ...

[2019-03-14 20:23] #224 closed

[2019-03-18 11:14] Froehliche-Kernschmelze commented on #225
Thanks :) I fully understand how CRPropa and SOPHIA interact with each other and I am happy to provide documentation on this (yet I do not fully understand all of SOPHIAs interiors up to this level). This will be included in the pull requests that follow this bug fix as I am about to introduce changes to this part of the code.

[2019-03-18 11:38] Froehliche-Kernschmelze commented on #225
I have run analyses on the output behaviour and came to the conclusion that the primary is not always on the zeroth position of the output lists, although in the very vast majority of the cases. There are exceptions where even a non-hadronic particle assumes this position.

I achieved these insights by wrapping SOPHIA to a custom python script via f2py, generating files of SOPHIA raw output data.

[2019-03-18 13:58] adundovi commented on #225
Thanks for these additional findings. If the zeroth entry were the primary, we would have an elegant solution on how to implement this (our current for-loop would just start from i=1, while the i=0 case would be handled separately). Unfortunately, if the only discriminating property is the highest energy, we need to proceed with your suggestion which means going through the list two times. First t

[2019-03-18 14:40] Froehliche-Kernschmelze commented on #225
I think the discrimination is that CRPropa can keep track of a candidate. The particle that leaves the process with a modified energy is modified by
`candidate->current.setEnergy(Eout);`
as opposed to any secondary that emerges from it:
`candidate->addSecondary(sign * nucleusId(1, 14 - pType), Eout, pos);`

If no discrimination were made one would lose the history of any candidate entering the PPP

[2019-03-19 11:51] adundovi commented on #225
Yes, that is true. But on the other hand, the fact that in essence there is no "original primary" after PPP could explain why SOPHIA does not give any special place to the highest energy particle. For the sake of consistency with the previous behaviour let's follow your suggestion of labeling the highest energy nucleon in the output list as the original particle.

[2019-03-20 10:42] #225 closed

[2019-03-22 03:18] adundovi commented on #188
@Froehliche-Kernschmelze this could be related to SOPHIA and #225.

[2019-03-22 03:18] adundovi commented on #99
@Froehliche-Kernschmelze this could be related to SOPHIA and #225.

[2019-03-26 01:54] ToonLinkZ opened #227 "Galactic + Extragalactic To earth Propagation"
is it possible to simulate the propagation of UHECRs from a source with extragalactic distances(~100Mpc) all the way to a small observer (representing the earth) with ~pc radius.

Basically I'd like to find out the exact energy,arrival directions of cosmic rays as they reach the earth.

Is this too much for the software even if I have a cluster?

If this is not possible, what would be another meth

[2019-03-26 14:07] lukasmerten commented on #227
Hi @ToonLinkZ ,
of course it is in principle possible to use such a small observer (~pc size). However, this will probably be computationally very expensive. A good solution for your problem might be to use the so called Galactic lenses (have a look at this [example](https://github.com/CRPropa/CRPropa3-notebooks/tree/master/galactic_lensing)). Here, the particles are mapped from a large(r) observe

[2019-03-26 16:06] adundovi commented on #227
@ToonLinkZ, like @lukasmerten said, in practice, simulating an extragalactic scenario with a single parsec-size observer will not give you enough events (if any) independent of the size of a cluster. Imagine if you injected CRs homogeneously everywhere in a 100Mpc simulation box, you would need to put 10^23 particles to observe by chance one within your observer:

    2.38732414637843e+23

CRPropa

[2019-03-26 16:06] #227 closed

[2019-04-01 14:52] adundovi commented on #223
Hi Alex, your question is certainly not naive, but only hard to answer (and estimate). You could use `ParticleCollector`, for example, to save the state of your simulation (all particles) at some point earlier and then continue with it using only a portion of them from it...

[2019-04-02 08:59] authule commented on #223
Thank you very much for the response, Andrej, I will try to

[2019-04-04 10:23] josinaschulte commented on #132
I have exactly the same error while installing CRPropa on Mac OsX 10.14.4.

`swig error : Unrecognized option /usr/local/opt/szip/include`
`Use 'swig -help' for available options.`
`make[2]: *** [crpropa_wrap.cxx] Error 1`
`make[1]: *** [CMakeFiles/crpropa-swig.dir/all] Error 2`

I have:

SWIG Version 3.0.12
Compiled with clang++ [x86_64-apple-darwin18.0.0]
Configured options: +pcre

and for gcc:

[2019-04-05 08:44] josinaschulte opened #228 "CRPropa 3 Notebook 1D Simulation"
In line 72 (`Z = pl.array([chargeNumber(id) for id in d['ID'].astype(int)])  # element`) of the CRPropa3 notebook 1D Simulation, I get the following error

[2019-04-06 09:45] TobiasWinchen commented on #228
The issue is here probably that astype(int) returns an numpy.int64 and not a standard int - depending on the installation, CRPropa might not fully support the numpy specific types. What python version and operating system are you using?

As a quick workaraound you can convert the numpy.int64 to int via
`Z = pl.array([crpropa.chargeNumber(int(id)) for id in a.astype(int)])`

[2019-04-08 09:49] josinaschulte commented on #228
Okay thank you, that worked. I'm using Python 3.5.3, so this might be the reason.

[2019-04-08 09:57] josinaschulte opened #229 "swig error during installation on OS X 10.14.4"
Hi, I commented on the closed issue https://github.com/CRPropa/CRPropa3/issues/132#issuecomment-479840519 which was not totally solved, so I'd be happy to get some help.
Thank you in advance!

[2019-04-08 19:14] adundovi commented on #229
I'll try to compile CRPropa on Mac tomorrow and report results. If it works for me, I'll write a how-to.

[2019-04-10 16:31] adundovi commented on #229
Hi @josinaschulte,
I've updated OS X to 10.14.4 and installed CRPropa without problems following the default installation guide from the wiki. Where do you install swig from?
[code]

[2019-04-11 10:46] josinaschulte commented on #229
Hi Andrej,
I just used `brew install swig` to install swig. Are there additional steps that I missed during the installation of swig that solve my problem?

[2019-04-11 14:43] adundovi commented on #229
I inspected more closely the error you reported and it seems that there is an additional parameter provided to the swig command that has been generated by cmake. Please, c/p results from the build directory from this command `$ grep "swig\s" --recursive CMakeFiles/`.

It should look something like this:
[code]
There should not be something like `/usr/local/opt/szip/include` in it. Try to remove th

[2019-04-11 15:20] josinaschulte commented on #229
The output is:
`CMakeFiles//crpropa-swig.dir/build.make:	swig -builtin -c++ -python -py3 -I/Users/Josina/Documents/Physik/Master/Masterarbeit/software/CRPropa3/include -I/Users/Josina/Documents/Physik/Master/Masterarbeit/software/CRPropa3/libs/HepPID/include -DWITH_GALACTIC_LENSES -DCRPROPA_HAVE_FFTW3F -DCRPROPA_HAVE_ZLIB -I/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Devel

[2019-04-11 15:37] adundovi commented on #229
OK, this is certainly wrong:
`-DCRPROPA_HAVE_HDF5 -I/usr/local/Cellar/hdf5/1.10.5/include /usr/local/opt/szip/include`
Try to remove HDF5 also, and I think that you should be able to compile crpropa. And this problem is related to `FindHDF5.cmake` which is a part of the cmake distribution or the homebrew package, thus belongs to the upstream.

I can reproduce the issue too when I install HDF5 with

[2019-04-12 09:31] josinaschulte commented on #229
Okay, now `make` worked! But `make test` returns:

[code]

[2019-04-12 12:37] #228 closed

[2019-04-12 13:27] adundovi commented on #229
It's about data files which cannot be accessed - try the installing step (`make install`) and then repeat `make test` (although it's still a bug on Mac).

[2019-04-12 13:56] josinaschulte commented on #229
Now more tests passed, but it still doesn't work...

[code]
Also, python crashes after the test runs.

[2019-04-12 13:57] adundovi commented on #229
OK, that is strange. Which Python version you use?

[2019-04-12 13:58] josinaschulte commented on #229
I use Python 3.7

[2019-04-12 13:59] adundovi commented on #229
BTW, try to run the first test alone: ./testInteraction (in the build directory) and c/p the output. This I cannot reproduce on Mac, yet.

[2019-04-12 14:01] josinaschulte commented on #229
Hm ok, ./testInteraction alone works fine...
(`[  PASSED  ] 38 tests.`)

[2019-04-12 14:02] adundovi commented on #229
What about a python test? `$ python testSimulationExecution.py`

[2019-04-12 14:03] adundovi commented on #229
Sometimes the interaction test can fail due to statistical nature of it.

[2019-04-12 14:03] josinaschulte commented on #229
That doesn't work...
`[1]    18654 segmentation fault  python3 testSimulationExecution.py`

[2019-04-12 14:12] adundovi commented on #229
Check if python3 is correctly found and linked. What I saw in your first install log is not correct:
[code]
Look at these:
* https://cmake.org/cmake/help/v3.0/module/FindPythonLibs.html
* https://cmake.org/cmake/help/v3.0/module/FindPythonInterp.html

CMake variables can be provided by -D flag.

[2019-04-12 14:19] josinaschulte commented on #229
Now I have in my install log:
[code]
Is this still wrong?

[2019-04-13 01:38] rprechelt opened #230 "1D Simulation with Trajectory"
I *slightly* modified the 1D example [here](https://github.com/CRPropa/CRPropa3-notebooks/blob/master/sim1D/sim1D.v4.ipynb) to support neutrino generation/detection (using the code below). I place a source at 1Mpc, an observer at x=0, and only detect neutrinos. Since this is in 1D, I (perhaps naively) expect all trajectories to be ~1Mpc in length. When I histogram the trajectory length of the dete

[2019-04-13 17:52] rafaelab commented on #230
Hi!
Thanks for reporting this. I confirm this odd behaviour. It is a bug.
There seems to be something going on with the vetoes. If you remove the ObserverNucleusVeto, then  the problem doesn't occur.
While this bug is fixed, I recommend you to remove the veto and separate neutrinos and cosmic rays in your post-processing script.

[2019-04-13 22:25] rafaelab commented on #217
Hi!
I tried it and I cannot reproduce the discrepancy at low energy.
In the first case (blue), I reweight the result of the simulation (assuming uniform distribution of sources) by (1+z)^3, without calling the function SourceRedshiftEvolution. In the second case (orange), I call this function with your custom module.
How are you obtaining the weighted curve in your example?

![image](https://user-

[2019-04-14 07:18] saikat8018 commented on #217
While putting the detected events in energy bins, I apply weight to the events according to (1+z)^m. I calculate the redshift from the distance traveled by the cosmic rays from the source to the observer in the 1D simulation.

[code]

[2019-04-15 14:40] rafaelab commented on #217
Can you check if using ```z = lightTravelDistance2Redshift(D*Mpc)``` improves the agreement?

[2019-04-15 15:58] saikat8018 commented on #217
With `z = lightTravelDistance2Redshift(D*Mpc)` I get the following error:
`RuntimeError: Cosmology: d>dmax`

[2019-04-15 16:41] rafaelab commented on #217
You are doing:
```J1 = histogram(lEf1[idx1], bins = lEbins, weights =(1+z1[idx1])**m)[0]/dE```
Is z1 obtained from the output using lightTravelDistance2Redshift or comovingDistance2Redshift?
Is z1 the same as z?

[2019-04-15 16:43] saikat8018 commented on #217
Hi Rafael,

z1 is obtained using comovingDistance2Redshift. z1 is the same as z

[2019-04-15 16:49] rafaelab commented on #217
Either way, I am failing to reproduce the problem.

What I did: I ran the simulation using
[code]
and then multipled by (1+z)^3.

The other way is using the piece of code you sent, without weighting by (1+z)^3, as the output is already weighted accordingly.

[2019-04-15 16:53] saikat8018 commented on #217
Dear Rafael,

I defined the source in a similar way. When you multiply by (1+z)^3, do you use `lightTravelDistance2Redshift(D*Mpc)`
or
`comovingDistance2Redshift(D*Mpc)` ?

[2019-04-16 12:30] rafaelab commented on #217
Hi again,

It should be the comoving distance.

I'm checked what's going on in your case and now I can reproduce your issue if I go to high redshifts.

I don't know what the issue is, but my guess is that there is an inconsistency in the way things are done. If you take a look at [Source.cpp](https://github.com/CRPropa/CRPropa3/blob/master/src/Source.cpp), line 624, you'll see how a uniform distri

[2019-04-16 15:09] saikat8018 commented on #217
Hi Rafael,

Thank you very much for the clarification. How can I write a module that will first compute the position and then the redshift? Because when I define `source.add(SourceRedshiftEvolution(3.0, 0.0, 2.0))` the redshift will be defined first. Also, the problem disappears for m=0 in (1+z)^m.

[2019-04-16 17:29] rafaelab commented on #217
Writing such a module is not as trivial as writing the module you did before. I don't know an easy way to do it. I would probably play around with the weights and follow the SourceUniform1D example, combined with the SourceRedshiftEvolution, in a single module. The weights of the random numbers in the SourceUniform1D would need to change to include the (1+z)^m  behaviour.

If the problem disappear

[2019-04-16 17:36] saikat8018 commented on #217
Dear Rafael,

Yes, I can obviously reweight the events a posteriori and I have been doing so. But while propagating photons using DINT, the events cannot be reweighted afterward. This is the reason I asked how can I implement redshift evolution in the simulation itself.

[2019-04-16 17:50] rafaelab commented on #217
I see.
Then I can suggest a solution that's probably easier than writing the module and faster than running the simulations for every spectral index.
The produced photons can be written in an intermediate output which is then passed to DINT. You can  store this file and generate files in the exact same format. Just sample the events in this file according to a given acceptance law (generate a rand

[2019-04-17 11:09] saikat8018 commented on #217
Hi Rafael,

I have the intermediate output before passing it to DINT. I may sound foolish but I didn't understand the acceptance procedure - to what way should I compare the random numbers?

[2019-04-17 11:36] saikat8018 commented on #195
When I use a regular observer with `ObserverNucleusVeto()` and pass the output to DINT, I get the error

But this doesn't happens when I use `PhotonOutput1D()`. I am using the script given in examples for secondary photons from proton propagation and have turned on the electrons in ElectronPairProduction. I have also included interactions with IRB as well. Here is the minimal script to reproduce t

[2019-04-17 12:26] rafaelab commented on #217
Essentially, you should compare the random numbers with the weights of a given event.
Look for the acceptance-rejection sampling method (or simply [rejection sampling](https://en.wikipedia.org/wiki/Rejection_sampling)). This is a widely used Monte Carlo technique.

[2019-04-17 12:32] saikat8018 commented on #217
Okay, Rafael. Thank you very much. I will look into this method. Does the normalization constant obtained from the corresponding CR spectrum remain the same by this, i.e. to say is the same normalization applicable to the obtained photon spectrum?

[2019-04-17 12:43] rafaelab commented on #217
When you apply this procedure to the photon output only, the normalisation changes with respect to the CR output. I don't know what the best way to normalise is.
(I'm not sure) If all the weights that you use in the reweighting of the CR data are in the 0-1 interval, than the reweighting and rejection  are approximately the same and you get the same normalisation. But you should check it.

[2019-04-17 12:46] saikat8018 commented on #217
Thank you, Rafael, for the help. I will try this

[2019-04-17 12:47] #217 closed

[2019-04-17 13:24] rafaelab commented on #195
Hi Saikat,
The output is in the wrong format.
Check the required format [here](https://github.com/CRPropa/CRPropa3/blob/67e7952c14a3361ad1a93ab3234720f3553db41f/src/PhotonPropagation.cpp#L193).

[2019-04-18 08:51] saikat8018 commented on #195
Dear Rafael,

I have an older CRPropa version installed that doesn't have all the latest commits (October 2018). However, I have made sure that the output format is the same for PhotonOutput1D and that with a regular observer. I see that the output of PhotonOutput1D is in exponential format, while that of the regular observer is in decimal format. Thus, a particle of energy 1e-7 EeV will be saved

[2019-04-18 13:29] rafaelab commented on #195
You can either download the latest version or change the source code of the functions that write the output (see https://github.com/CRPropa/CRPropa3/blob/master/src/module/TextOutput.cpp). Don't forget to recompile CRPropa after you implement your changes.

[2019-04-19 10:14] saikat8018 commented on #195
Hi Rafael,

I have done a fresh installation of the latest version of CRPropa3. `make test` runs successfully without any failure. But when I try to propagate the photons using DINT, the program crashes with `segmentation fault (core dumped)` at the line `crpropa.DintPropagation(...)`. When I try to debug using (gdb), I get the following:

[code]
I do not understand the problem. Can you please hel

[2019-04-26 12:49] authule opened #232 "Problems with synchrotron process"
Hello,
I came across several problems while performing some simulations that involves synchrotron process among others.

1) The energy lost in each step (dE, in the source code) which sometimes can be much more than the energy of a parent electron. The same dE is "spent" to produce synchrotron photons and as a result, one gets much more total energy of the emitted synchrotron photons than the pare

[2019-04-30 13:07] rafaelab commented on #232
Hi!
Could you please provide a minimal working example that I can use to reproduce the problem?

[2019-05-07 13:32] authule commented on #232
Hi, here you are:

from crpropa import *
E_0= 1
E_br= 0.000001
r= 0.002
B = JF12Field()
randomSeed = 691342
B.randomStriated(randomSeed)
B.randomTurbulent(randomSeed)
sim = ModuleList()
sim.add(PropagationCK(B,1e-4, 0.1 * parsec, 100 * parsec))
sim.add(Redshift())
sim.add(EMPairProduction(CMB,True))
sim.add(EMPairProduction(IRB_Stecker05,True))
sim.add(EMPairProduction(URB_Protheroe96,True))
sim.a

[2019-06-13 07:16] TobiasWinchen opened #233 "Access to random seeds from python"
crpropa.Random_getSeedThreads() returns Swig Object. It should return an object useful for storing + setting the seed from python.

[2019-06-20 06:49] adundovi commented on #116
It's been more than two years since this request, and certain requirements that we already discuss are now met or almost met. As RHEL 8 is released (comes with GCC-8 by default), and soon CentOS 8 will be, we can expect that cluster users of CRPropa (those which usually encounter the most "out-dated" software versions) will soon get the full C++11 support, thus, we can enable it in the master bran

[2019-06-20 07:33] adundovi opened #234 "New details of turbulent magnetic fields"
Hi all!

I'm studying turbulent magnetic field models, and I would like to introduce "less-naive" models (*) in CRPropa, but without breaking the previous results. However, I would also introduce some clean up of the original functions.

First, I split GridTools into two files: **GridTools** and **GridTurbulence**. In the former, I left general grid functions, while in the latter, I put everything

[2019-06-20 07:38] adundovi commented on #234
See, for example, ref: [Sonsrettee2014](https://iopscience.iop.org/article/10.1088/0004-637X/798/1/59/meta), or [Subedi2017](https://iopscience.iop.org/article/10.3847/1538-4357/aa603a).

[2019-06-20 10:22] lukasmerten commented on #234
Hi @adundovi
In Bochum also some people (@eicheB, @reichherzerp, @antoniusf, and @LeanderSchlegel) are working on new models for the turbulence implementation. Maybe you should get in touch with each other to not do some work twice.

[2019-06-22 22:54] adundovi commented on #234
Hi @lukasmerten , OK, I will. Thanks for mentioning this!

[2019-06-28 08:19] adundovi commented on #116
Python 2 is reaching EOL soon ([counter](https://pythonclock.org)).

[2019-07-01 14:12] antoniusf commented on #234
Hi everyone, and thanks for tagging us in. My apologies for chiming in so late; there's been a lot going on.

I can only really talk about the technical side, though I'm sure there are some interesting topics on the physics side as well. As for the former:

I've been working on an implementation that computes the field on-the-fly and is therefore completely independent of `initTurbulence`. The imp

[2019-07-01 14:57] adundovi commented on #234
Hello @antoniusf . Thanks for the clarification. Fortunately, numerical simulations of particle propagation in synthetic turbulent fields are extensively covered in literature, both purely isotropic cases and with a background ordered component; thus, we have a lot of references to compare our implementations with. Just to name a few: [Candia 2004](https://arxiv.org/pdf/astro-ph/0408054), [De Marc

[2019-07-01 17:00] antoniusf commented on #234
I am not sure how our tests relate to the r_g/l_c criterion you mention; @reichherzerp probably knows more about this, but I believe he is pretty busy at the moment. Also, we *are* currently finishing up the paper that describes everything we've done so far.

Yes, the on the fly method (nicknamed `TD13`) does not rely on any kind of grid, so it does seem to me that it might avoid the problem you'v

[2019-07-01 17:23] reichherzerp commented on #234
Hello @adundovi, your work looks very useful and in any case complementary to what we do here in Bochum.

I agree with you, but I would like to add that the relationship between the amplitudes of turbulence and the background field b/B also has an important influence (because it is a differnece if we are in the quasilinear regime or the Bhom-limit). We are working on this right now with CRPopa (we

[2019-07-03 12:36] adundovi commented on #234
@reichherzerp I'm looking forward seeing on-the-fly method in CRPropa.

I can confirm the findings you mentioned: with the grid method one cannot go easily beyond the 2048^3 grid size, maybe 4k with 1.5TB RAM machines is still possible (on the AWS or similar), but that is still just three scales in k. Since the correlation length (l_c) for the currently implemented model of turbulence is maximally

[2019-07-03 16:27] reichherzerp commented on #234
@adundovi Thanks for sharng this plot! This looks really good. I have recently created a similair plot that also shows this saturation. I have concluded that FLRW is the reason for this energy independece of the diffusion coefficient, even thought [Subedi 2017](https://iopscience.iop.org/article/10.3847/1538-4357/aa603a) has written that they don't observe this behaviour, right?

For my master's t

[2019-07-04 08:44] adundovi commented on #234
@reichherzerp In Subedi 2017, the authors commented on page 7 that for small Larmor radius compared to L_c the simulation does not numerically resolve the resonant scales, what can especially be seen for the 512^3 grid. Thus, they observe the behaviour, but declare it as being non-physical.

Your plot is particularly useful for comparing different plots (though, you have to capture all those point

[2019-07-04 08:48] adundovi commented on #234
@reichherzerp BTW, in your plot, which points from the Subedi 2017 plot did you take?

[2019-07-04 09:30] adundovi commented on #234
I'm quite convinced from my investigation that there shouldn't be new physical features, and slope changes for << r_g/l_c in a fully isotropic (synthetic) turbulent field. All that is observed in simulations are numerical artefacts. The field itself by construction is self-similar (a power low), thus, there is no reason that something would magically appear at small scales well below l_c.

Althoug

[2019-07-04 14:20] #223 closed

[2019-07-07 11:42] Adiolph opened #235 "Problem in installing in Mac"
I get some problem when installing CRPropa3 in Mac OS 10.14.5.
After `make` the file, I run `make test` and it turns out `11 tests failed out of 19`.
I don't kown why it faild.
[CMakeCache.txt](https://github.com/CRPropa/CRPropa3/files/3365567/CMakeCache.txt)

[2019-07-07 12:39] adundovi commented on #235
Hi @Adiolph, can you run the individual tests that failed in your case and c/p the output?

[2019-07-07 13:02] Adiolph commented on #235
Here is the running result of testCore:
`Last login: Sun Jul  7 20:21:03 on ttys000
/Users/hu_fan/CRPropa3/build/testCore ; exit;
(base) Hu-FandeMacBook-Pro:~ hu_fan$ /Users/hu_fan/CRPropa3/build/testCore ; exit;
Running main() from /Users/hu_fan/CRPropa3/libs/gtest/src/gtest_main.cc
[==========] Running 49 tests from 15 test cases.
[----------] Global test environment set-up.
[----------] 11 test

[2019-07-07 13:12] adundovi commented on #235
Seems like an unhandled case of the data file reading. The data files could be either missing or are placed in an unknown location. Can you try `make install` and run the tests again?

[2019-07-07 13:20] Adiolph commented on #235
Wow, after `make install`, `testCore` succeed.
But when runing `make test`, there are still 4 tests failed:

	 17 - testSimulationExecution (SEGFAULT)
	 18 - testDiffusionSDE (SEGFAULT)
	 19 - testPythonExtension (SEGFAULT)
I guess I have missed some dependent packages.

[2019-07-07 13:23] adundovi commented on #235
OK. This is still a bug (not recognising data files when in the build directories), however, those other tests that failed are of a different origin, can you c/p the individual output of them, too?

[2019-07-07 13:32] Adiolph commented on #235
Sorry, but I don't know how to run thoes last 4 tests.
Is that run the python file?

[2019-07-07 13:37] adundovi commented on #235
[code]

[2019-07-07 13:40] Adiolph commented on #235
It just return:
`Segmentation fault: 11`

[2019-07-07 13:42] adundovi commented on #235
Sounds like a python version mismatch. Which Python version do you use?

[2019-07-07 13:46] Adiolph commented on #235
I have Python 3.7.3 and Python 2.7 in my computer.
This time, I run `python2.7 testPythonExtension.py`, and it returns:

(<type 'exceptions.ImportError'>, 'dynamic module does not define init function (init_crpropa)')

[2019-07-07 13:48] adundovi commented on #235
You should check which python `cmake` found during the ``cmake ..`` phase, and run python scripts with the same one.

[2019-07-07 13:54] Adiolph commented on #235
In the CMakeCache.txt, I find some words:

PYTHON_EXECUTABLE:FILEPATH=/Users/hu_fan/anaconda3/bin/python

PYTHON_H_FOUND:FILEPATH=/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/System/Library/Frameworks/Python.framework/Headers/Python.h

Does it mean it use Python 3.7?

[2019-07-07 14:01] adundovi commented on #235
Not sure. I would say that the version of executable (from anaconda3) is not matching the version of python header files (from OS X SDK), and that could be the source of SEGFAULTs. You should force cmake to find exactly the python paths which you want to use. See my comment [here](https://github.com/CRPropa/CRPropa3/issues/229#issuecomment-482589451).

[2019-07-07 14:35] Adiolph commented on #235
I run `ccmake ..` again and set following paramaters when ccmake:
`PYTHON_EXECUTABLE                /Users/hu_fan/anaconda3/bin/python`
`PYTHON_H_FOUND                   /Users/hu_fan/anaconda3/include/python3.7m/pytime.h`
`PYTHON_INCLUDE_DIR               /Users/hu_fan/anaconda3/include/python3.7m`
`PYTHON_LIBRARY                   /Users/hu_fan/anaconda3/lib/libpython3.7m.dylib`
But the results

[2019-07-07 14:48] adundovi commented on #235
I don't have OS X available at the moment to test it myself. However, [here](https://travis-ci.org/CRPropa/CRPropa3/jobs/549014843) we have a continuous integration test for OS X, and it works with the current master. Notice that it uses python2 so try maybe you should try python2 first.

[2019-07-07 15:08] Adiolph commented on #235
Thanks for your help, I will continue to try it tomorrow.

[2019-07-08 06:47] Adiolph commented on #235
I changed a command in the CMakeLists.txt file:

delete two lines:
`find_package(PythonInterp)`
`find_package(PythonLibs)`

add one line:
`find_package (Python3 COMPONENTS Interpreter Development)`

Then all tests pass.
But I can not import crpropa in python: `No module named 'crpropa'`.

BTW, I use Install from source method (though I am not a experienced users orz

[2019-07-08 07:17] TobiasWinchen commented on #235
I am not a mac expert, but this looks to me as if you are using two different python installs for CRPropa. You should probably not modify the CMakeLists,txt but fix the variables to use the anaconda python version.

[2019-07-08 07:20] Adiolph commented on #235
I am a layman in programing, how can a fix the variables to use the anaconda python version?

[2019-07-08 07:22] TobiasWinchen commented on #235
I would not consider this a bug as we should not load data from too many locations. The default order is
1. Environment variable CRPROPA_DATA_PATH
2. Install directory
3. ../data refering to the executeable
4. data refering to the CWD

we should stick with this, but improve documentation.

[2019-07-08 07:24] TobiasWinchen commented on #235
Use ccmake .. to get a TUI for the options and point the  variables as e.g. PYTHON_H_FOUND:FILEPATH to the path within the anaconda installation.

Please note that I have no direct experience with anaconda and just guessing here.

[2019-07-08 07:42] Adiolph commented on #235
Now I am trying "Install from source in python virtualenv"

In the forth step "Compile and install CRPropa", should I use `ccmake ..` instead?

[2019-07-08 07:43] adundovi commented on #235
I agree, but in this case, something is not working as expected as the test executeables should find the data files according to the 3rd and 4th option, and they don't. We almost never encounter this issue by running `make test` as we have the data files in the install directory from previous installations. I encountered this problem once before, when installing CRPropa on a computer for the first

[2019-07-08 07:46] adundovi commented on #235
Yes, use:
[code]

[2019-07-08 08:05] Adiolph commented on #235
When I run `make`, it returns errors:
`clang: error: linker command failed with exit code 1 (use -v to see invocation)`
`make[2]: *** [_crpropa.so] Error 1`
`make[1]: *** [CMakeFiles/crpropa-swig.dir/all] Error 2`
`make: *** [all] Error 2`

The full output is copied in the txt file.

[make_error.txt](https://github.com/CRPropa/CRPropa3/files/3367308/make_error.txt)

[2019-07-08 12:31] Adiolph commented on #235
At last, I succeed to install it in conda environment, and can run the example file.

[2019-07-08 12:31] #235 closed

[2019-07-08 12:32] adundovi commented on #235
@Adiolph can you please write which library/python paths did you use in the end?

[2019-07-08 13:38] Adiolph commented on #235
I ues `conda creat --name crpropa3 python=2.7` to creat a python 2.7 environment.
Then activate it by `conda activate crpropa3`.
I set the path: `export CRPROPA_DIR=$HOME"anaconda3/envs/crpropa3"`

And Compile and install CRpropa as usual:
`git clone https://github.com/CRPropa/CRPropa3.git`
`cd CRPropa3`
`mkdir build`
`cd build`
`CMAKE_PREFIX_PATH=$CRPROPA_DIR cmake -DCMAKE_INSTALL_PREFIX=$CRPROPA

[2019-07-09 14:58] ziarrial opened #236 "Compile fails on Max OS 10.14.5: ld: library not found for -lprofiler"
Hi, when I install CRPropa3 on mac os 10.14.5, I got problems.
After cmake,

CMAKE_PREFIX_PATH=$CRPROPA_DIR cmake -DCMAKE_INSTALL_PREFIX=$CRPROPA_DIR ..

the output shows:

-- Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)
-- Could NOT find OpenMP_CXX (missing: OpenMP_CXX_FLAGS OpenMP_CXX_LIB_NAMES)
-- Found OpenMP_Fortran: -fopenmp (found version "4.5")
-- Could NOT find Ope

[2019-07-10 08:04] TobiasWinchen commented on #236
Hi, from

I guess that tehre is a problem with the Google Pert Tools installation on your system. Please fix either the installation of google-perftools which are not required, or disable it via cmake .. -DNO_TCMALLOC=TRUE .

[2019-07-10 13:45] ziarrial commented on #236
Thank you!
I tried the cmake -DNO_TCMALLOC=TRUE ..  the make and make install success

[2019-07-10 14:19] #236 closed

[2019-07-11 23:50] miguelitonieves88 opened #237 "Hardware Requirements for Extragalactic Magnetic Fields"
So I'm basically trying to backtrack events  all the way back to their possible origin. For this I need to superposition galactic +extragalactic magnetic fields, the galactic B field is no problem-o.

Backtracking a particle with just the galactic magnetic field takes a few seconds, the problem is adding an extragalatic magnetic field. Mine has a a maximum radius of 300*Mpc and I'm talking about a

[2019-07-12 06:28] reichherzerp commented on #237
Hi, thanks for you interest in CRPropa!
First of all, the turbulence is generated on a periodic (or reflective), cartesian grid with N^3 grid points. Therefore, the grid size (spacing * N) is independent of your complete simulation space (your 600*Mpc).

The size of the grid depends on which fluctuations l_min < l < l_max should be present in the turbulent magnetic field:

- l_min > 2 spacing
- l_

[2019-07-20 01:39] miguelitonieves88 commented on #237
hey bro kinda of.

How does crpropa know that I want a magnetic field with a radius of 500* Mpc?

If I make a vector grid like this?

vgrid=VectorGrid(Vector3d(0),512,200*kpc)
initTurbulence(vgrid,8*nG,400*kpc,800*kpc,-11./3,seed)

?

Doesn't that mean that this B field only spans a cube of 512*100kpc ~ 50*mpc side?

or are you saying that whatever i put into the grid will be repeated periodically

[2019-07-23 21:09] adundovi commented on #237
@miguelitonieves88 please notice that employing big **turbulent** magnetic fields you suggested does not sound to be physically reasonable, thus, maybe you should re-check what kind of scenario you want to simulate. Especially since the observable Universe is highly structured at mentioned scales, so is the magnetic field, i.e., it is not homogeneously turbulent only (see for example the size of S

[2019-07-23 21:09] #237 closed

[2019-07-24 18:09] jleagle94 opened #238 "Conda and CRPROPA environment conflicts"
Hello,

I would like to use CRPropa in helping me simulate CR diffusion with a particular SNR. I have it downloaded and without any other environments activated except for my CRPROPA (sourcing /Users/myname/CRPROPA_DIR/bin/activate), I can access crpropa package fine within python but not numpy. If I use jupyter notebook (through anaconda2 environment) then I can access numpy fine but then crpropa

[2019-07-25 19:18] adundovi commented on #238
You have two options: either to install required packages into the crpropa virtualenv via pip, or install crpropa in the anaconda2 path. In the first case, after activating the crpropa environment, you just hit: pip install jupyter numpy matplotlib scipy ... and all packages should be importable from the python where crpropa is present. For the second case you have to find the library path of anac

[2019-07-26 18:33] jleagle94 commented on #238
Ah I see. I don't know why I didn't think to do that to begin with! Thank you!

[2019-07-26 18:34] #238 closed

[2019-08-02 13:38] adundovi commented on #229
I've performed some tests, and with the following flags everything works on Mac OS X (Mojave) as expected:
https://github.com/CRPropa/CRPropa3/wiki/Installation#mac-os-x-specifics

[2019-08-02 13:38] #229 closed

[2019-08-02 13:41] adundovi commented on #235
This could be a solution for the python 3 issue on Mac OS X:
https://github.com/CRPropa/CRPropa3/wiki/Installation#mac-os-x-specifics

[2019-08-23 20:24] JohnUSP opened #240 "Problem with TextOutput Output.Event3D"
Hy guys, I'm having a problem when I try to write to an output file the outcome of a 3D simulation in the format Output.Event3D. Below are the lines I'm using in my script but I also try with the notebook example in https://github.com/CRPropa/CRPropa3-notebooks/blob/master/sim4D/sim4D.v4.ipynb  getting the same result: the code seems to run properly but  the output file is empty.

obs = Observer()

[2019-08-23 21:47] rafaelab commented on #240
Hi,
Without your code, I cannot try to reproduce the problem.
As for the sim4d.py script, you might be getting an empty output because the statistics is low. If this is the case, you should get some events if: you change the example to SourceDirection(Vector3d(-1,0,0)) instead of SourceIsotropicEmission() AND if you use a very low magnetic field (try, for example, with 1e-16 G).
Let me know if the

[2019-09-05 14:34] wilson-2015 opened #241 "Introducing kill conditions in simulations"
Hi,
I have created the Probability Distribution Function and indent to simulate cosmic ray particles leaving the source (Cen A Core) within this source direction: theta(2.1750 - 2.3104) rad and phi(1.8810 - 1.9660) rad. I am still new with python programming can anyone help on how to write a code to loop within this angle range. A sample script that I indent to insert this code is in the link belo

[2019-09-05 14:44] lukasmerten commented on #241
Hi,
you may have a look at this [SourceEmissionCone](https://github.com/CRPropa/CRPropa3/blob/master/src/Source.cpp) (l. 774-790) feature. This allows to inject particles within a user specified cone. So maybe you do not even have to write new code. Anyway, looping in python to inject the particles into the simulation is probably not a very efficient way.
Best,
Lukas

[2019-09-10 18:07] cainaoliveira opened #242 "Emission Map"
How can I create and use a Emission Map to optimize a 3D simulation from a point source?

[2019-09-10 18:14] rafaelab commented on #242
Hi!
Could you provide more information?
What do you want to do? Is it a simulation of 3D point source?

[2019-09-10 18:29] cainaoliveira commented on #242
Yes. I want propagate particles of a source to the earth in a magnetic field. I read in an article that is possible create a Emission Map to deactivate candidates that will not arrive to the observer, but I don't find any python notebook that can help with this.

[2019-09-10 18:41] rafaelab commented on #242
I'm not sure what  you read, but I don't think this feature exists.
In general, if the particles don't reach the observer, there is no way of knowing whether they will arrive or not. Therefore, such a feature would not be possible, in principle.
EmissionMap does something else.

Essentially, the observer collects the particles that reach it.
If you want to stop tracking some particles, you can add

[2019-09-10 18:45] cainaoliveira commented on #242
Ok. Thank you so much!

[2019-09-10 18:45] #242 closed

[2019-09-16 13:57] wilson-2015 commented on #241
Thanks Lukas for a prompt response and sorry for my late comments. I had trouble on how to get the openning angle of the cone from theta and phi. So, I resorted to an alternative method that worked although still interested on how this method works too!
Thank you,
Wilson

[2019-09-19 18:56] cainaoliveira opened #243 "Propagate particles from a txt file"
Hi,
I have created a .txt file with photons and electrons/positrons generated by propagation of nuclei. I want know if is possible propagate the photons and electrons/positrons of this file using CRPropa modules keeping in the output file the information about the primary particle (the nuclei in case).

[2019-09-20 04:09] adundovi commented on #243
Hi @cainaoliveira ,
if I understood your intention correctly, you can use [`ParticleCollector`](https://github.com/CRPropa/CRPropa3/blob/ab11dbb0de1f663ab128d247c6fec912e5761912/include/crpropa/module/ParticleCollector.h) for this purpose. It is an Output module with which you can dump/save particles to a file and then load them again and propagate further. Before saving or after loading, you can

[2019-09-20 13:15] cainaoliveira commented on #243
Thank you so much @adundovi. I modified this to my simulation. Just one question more, is possible use the ParticleCollector() as an output method to an observer?

[2019-09-20 13:22] adundovi commented on #243
Yes, it is. Personally, I use it as the default storage when I run simulations within Jupyter notebooks.
[code]

[2019-09-20 13:35] cainaoliveira commented on #243
I tried this

#Neutrino Observer
obs = Observer()
obs.add( ObserverDetectAll() )
obs.add( ObserverNucleusVeto() )
obs.add( ObserverPhotonVeto() )
obs.add( ObserverElectronVeto() )
output = ParticleCollector()
obs.onDetection( output )
output.dump("particles.txt.gz")
sim.add( obs )

but the generated file is empty.

[2019-09-20 14:13] adundovi commented on #243
If it works with `TextOutput`, it should work with `ParticleCollector`, too. Please, check those imposed conditions.

BTW You could immediately see if the collector is empty by printing its size from Python: `print(len(output))`.

[2019-09-20 14:31] cainaoliveira commented on #243
Thank you @adundovi. I put the output.dump("particles.txt.gz") after run simulation and it works!

[2019-09-20 14:31] #243 closed

[2019-09-30 12:55] TobiasWinchen opened #244 "Keyword arguments are not always recognized"
Reported by Jörg Rachen, CRPropa meeting October 2019. We should derive an example case when this happen and develop checks that all kwargs are passed correctly.

[2019-09-30 13:22] TobiasWinchen opened #245 "Example on using muparser in source spectrum"
For cases that reweighting does not work

[2019-09-30 16:09] MRCWirtz opened #246 "Frequent confusion about the "discovery" of virtual dipoles"
As a lot of people are anyways thinking about CRPropa right now at the workshop, I have here some issue:

In recent times there was a lot of confusion in the community about the formation of anisotropies after forward tracking a seemingly isotropic distribution from outside the Galaxy to the observer (I know, for most of you this means more annoying discussions about Liouville's theorem ;-) ) in C

[2019-10-01 05:45] TobiasWinchen commented on #244
This is clearly a bug:
[code]

[2019-10-01 06:40] TobiasWinchen commented on #244
Apparently, swig cannot handle keyword arguments for overloaded functions. So they cannot be used here. However, sadly no error is created, even on
[code]

This needs to be fixed ASAP as this is highly dangerous.

[2019-10-04 20:01] JohnUSP opened #248 "Flush of Output.Event3D in a loop for different files names"
Hy guys, I have the next ishue. I am trying to do a loop to detect the simulated particles at diferent distances of the source, so at each iteration I change the radius of the observer (an Sphere in this case) and the name of the output file where the detected particules should be recorded, but somehow all the particles are flushing to the first file of the loop only. The others files are being ge

[2019-10-05 11:03] avvliet commented on #248
What is happening now is that you add an additional observer to the module list each time the loop is run. So the 'n'th run will have 'n' observer spheres all with different radii. You only get output from the first observer sphere because the simulation is stopped when the particle reaches this observer. You can prevent this by setting
`obs.setDeactivateOnDetection(False)`

[2019-10-05 11:04] #248 closed

[2019-10-05 15:20] TobiasWinchen commented on #244
I created a pull request #250 to disable swig -builtin option as a default. Without -builtin the code works as expected. As we already have a test, we can close this feature for now. The main issue will be that pure python extensions will be somewhat slower due to the additional proxy layer.

[2019-10-05 16:03] TobiasWinchen commented on #241
I assume that this issue is closed now - please reopen if I am mistaken.

[2019-10-05 16:03] #241 closed

[2019-10-05 16:08] TobiasWinchen commented on #240
I assume that this issue is closed now - please reopen if I am mistaken.

[2019-10-05 16:08] #240 closed

[2019-10-05 16:39] TobiasWinchen commented on #230
The issue is here that in this setup the protons continue to propagate after passing x=0 (as they are not detected). If they then create a secondary neutrino, this is immediately detected as the condition for ObserverPoint is x < 0 ... . The solution for the setup would be to remove the particles from the simulation with a second observer, but without output.

[2019-10-05 16:39] #230 closed

[2019-10-05 22:29] adundovi commented on #244
OK. However, as soon as the issue is solved in the upstream we should switch back to builtin.

[2019-10-05 22:29] #244 closed

[2019-10-07 19:51] JohnUSP commented on #248
Yes... but then at each steap of the loop the particules are written down in all the files difined previously, i.e, the fist output file records not only the particles detected in the first loop but also, those simulated in the second and so on. What I want is to record in different files the particles detected for each radius of the sphere.

[2019-10-07 19:55] JohnUSP commented on #248
Yes but in that case, the first file, for example is recording not only the particles of the first loop but also those of the second and so on. What I want is to record in each different file the particules detected for each radius of the sphere.

[2019-10-08 08:15] avvliet commented on #248
To do that you should take the 'sim.run' part out of the loop. Now the simulation is run multiple times each time with 1 more observer. You can just run the simulations once with multiple observers. In this case the particles will be recorded in each different file where each file corresponds to one observer. So take your line 74 and line 76 out of the loop.

[2019-10-10 19:04] Laruku25 opened #251 "Extragalactic Deflection"
I'm trying to calculate extragalactic deflections with CRPROPA using magnetic field models given in the download section: "Dolag" "Miniati" etc.

The problem is that the deflections are too high and the particle seems to be moving all over the place instead of being almost rectiliniar. According to Dolag it should be at most 5-7 degrees...at these high energies but I'm not getting nothing near tha

[2019-10-11 09:58] avvliet commented on #251
The problem is probably the 'b_factor' that you are using. This should be 'gauss' instead of '1.' as this is the unit of the Dolag magnetic field values.

[2019-10-11 19:11] Laruku25 commented on #251
Thanks that's what I thought the lower the value the more rectilinear the path. By Gauss u mean 1e-4? There's almost zero deviation with that value.

.05 seems to give reasonable results but i'm just throwing that out randomly....

[2019-10-12 10:45] adundovi commented on #251
Hi @Laruku25, try to calculate the Brms value of the field file you have (check `meanFieldStrength(grid)` in CRPropa), and compare it with an original reference of the field you use. That is the safest method to get the field normalization right. And as @avvliet wrote, this should be the place where the issue is. All propagation aspects of CRPropa in this context are so many times tests by now tha

[2019-10-12 10:45] #251 closed

[2019-10-12 11:34] adundovi commented on #246
Hi Marcus! A nice and practical addition to the code. And the confusion is well known to me :-)

Although, I would generally argue that motivation in introducing new modules/features like this shouldn't be led by the idea to stop/discourage people of doing conceptual mistakes in their simulation scenarios. That would lead to an endless list of very specific features which would be hard to maintain

[2019-10-12 12:32] MRCWirtz commented on #246
Hi Andrej.

I agree that adding documentation about this issue is the most crucial point and should be done anyways; in this sense everybody is better advised to perform backtracking for Galactic propagation! Forwardtracking just slows everything down and is getting more inaccurate due to the finite observer issue.

Nevertheless, people that are starting typically want to do the direct crosscheck

[2019-10-14 12:02] adundovi commented on #246
OK. Fine with me. :-) I'm closing now this issue.

[2019-10-14 12:02] #246 closed

[2019-10-14 13:23] MRCWirtz commented on #246
@adundovi Do you actually know why the notebooks view of the examples are just randomly working?

[2019-10-14 13:30] adundovi commented on #246
I don't know... probably because of [this](https://nbviewer.jupyter.org/github/crpropa/crpropa3-notebooks/tree/master/):
[code]

Maybe we should generate static HTML files and upload them next to the ipython files.

[2019-10-14 13:32] adundovi commented on #246
See the following GitHub [note](https://help.github.com/en/articles/working-with-jupyter-notebook-files-on-github).

[2019-11-04 09:32] mnogoslov opened #253 "Enormous amount of secondary neutrinos from UHECR"
Hi!
I'm analyzing UHE photon predictions from GZK process, i.e. simulating primary nuclei from a 3-d source distribution and looking at the secondary particles at the observer. We expect to observe about the same order amount of photons and neutrinos, yet the simulation results in nearly 1000 time more neutrinos than photons.
I'm attaching the working code of the simulation. Several simulation mod

[2019-11-04 09:35] mnogoslov commented on #253
Sorry, failed with attaching the file. Here's the code

from crpropa import *

sim = ModuleList()

photons=True
electrons=True
neutrinos=True
nucleons=True

BField = Vector3d(0, 0.34*nG, 0)
B = UniformMagneticField(BField)

sim = ModuleList()
sim.add( PropagationCK(B) )
sim.add( FutureRedshift() )
sim.add( PhotoPionProduction(CMB, photons, neutrinos, electrons, nucleons) )
sim.add( PhotoPionProduc

[2019-11-04 10:41] Froehliche-Kernschmelze commented on #253
Hi,
thanks for your enquiry. When there is no process to absorb gamma-rays there should be a similar amount of neutrinos to photons being produced by PhotoPionProduction. Hence, EMPairProduction may reduce the absolute numbers of photons in your setup.

[2019-11-04 10:56] avvliet commented on #253
Your minimal energy threshold of 0.1 EeV also plays an important role here. Any photon with a lower energy than that will not appear in your output.

[2019-11-07 10:34] rafaelab commented on #195
Hi,
I understand that the PhotonOutput1D issue has been solved.
The other issue reported doesn't belong to this thread and is not a CRPropa bug, so I will close the issue.

[2019-11-07 10:34] #195 closed

[2019-11-07 10:40] rafaelab commented on #203
Hi,
I could not determine the exact source of the discrepancy, but since DINT's approach is completely different from CRPropa's, and because the background fields are different, I guess some difference is to be expected.
As of CRPropa 3.1.5, our latest release, we are no longer offering support for DINT. Therefore, I will close this issue.
We recommend the users to use the native CRPropa electroma

[2019-11-07 10:40] #203 closed

[2019-11-08 06:40] kojiishiwata commented on #203
Dear Rafael,

Thank you for the updates. I understand closing this issue. I’m looking forward to the further improvements!

cheers,
Koji

[2019-11-09 10:38] rafaelab commented on #253
This is not a CRPropa bug. Therefore, I will close the issue. Please reopen it if some rigorous sanity checks indicate otherwise.

[2019-11-09 10:38] #253 closed

[2019-11-18 14:05] lukasmerten opened #254 "Redshift evolution in PhotoPionProduction"
**Description**

It seems that the redshift evolution is ignored in the current implementation of the PhotoPionProduction. Even for non CMB target fields the redshift dependence is turned off as for intended for the CMB.

`void PhotoPionProduction::setPhotonField(PhotonField field) {
photonField = field;
if (haveRedshiftDependence) {
std::cout << "PhotoPionProduction ... " << std::endl;
haveRedshi

[2019-11-19 16:06] Froehliche-Kernschmelze commented on #254
Thanks for bringing this up, your findings are correct. See #255 for details.

[2019-11-28 13:19] MRCWirtz commented on #99
Maybe it helps somehow: for me this error occured lately with helium propagation of an E^-1 spectrum above 10 EeV and an propagation length of 160 Mpc. All interactions were turned on:

[code]

The log:
[WARNING] nuclearMass: nuclear mass not found in the mass table for A = 66, Z = 32. Approximated value used A * amu - Z * m_e instead.
crpropa::ModuleList: Signal 15 (SIGINT/SIGTERM) received

For

[2019-12-06 12:46] #254 closed

[2019-12-11 15:58] mnogoslov opened #257 "1D simulation with magnetic field"
Hi!

I'm trying to reproduce the paper in which it is said "For simulations presented in this work, we use the 1D-mode of CRPropa, where no deflections in magnetic fields are taken into account, and particles propagate rectilinear. In spite of that, energy losses of the electromagnetic cascades due to synchrotron radiation in IGMF are still considered."

Could you please recommend, which propagati

[2019-12-11 16:14] rafaelab commented on #257
I suppose the work to which you are referring was done CRPropa 2, whose structure is completely different from CRPropa 3.

In any case, you can take a look at the [documentation](http://crpropa.github.io/CRPropa3/) and the  [examples](https://github.com/CRPropa/CRPropa3-notebooks).
For a 1D simulation you can use the SimplePropagation module, as described in the [wiki](https://github.com/CRPropa/C

[2019-12-11 16:14] #257 closed

[2019-12-11 18:40] cainaoliveira commented on #216
Hi. If I want apply a exponential weight, like exp(-E/Ecut), this works too?

[2019-12-12 09:46] lukasmerten commented on #216
@cainaoliveira Yes, the procedure @avvliet proposed will basically work with all weights that you can construct with the information available in your PhotonOutput1d()-like files.

[2019-12-12 12:50] cainaoliveira commented on #216
Thank you so much @lukasmerten!

[2019-12-16 08:18] adundovi commented on #214
@MRCWirtz Did you implement the TF17 GMF model? We have PR #258 with it...

[2019-12-16 09:23] MRCWirtz commented on #214
@adundovi in my version there was still something faulty and I stopped developing it when I noticed about the really high field amplitudes in the vicinity of the center (see also in Thomas PR). As the new PR have all versions of the field model implemented, I deleted my active branch now.

[2019-12-16 12:06] lukasmerten commented on #208
As we have decided to have the data files as an optional/manual download, I close this issue. When the Pohl field is implemented I will take care of the upload of the data into our desycloud.

[2019-12-16 12:06] #208 closed

[2020-01-07 03:26] #233 closed

[2020-01-07 07:59] TobiasWinchen opened #264 "Reenable swig --builtin"
builtin is broken with current swig versions (See https://github.com/swig/swig/issues/1595 and https://github.com/CRPropa/CRPropa3/pull/250). As soon as this is fixed we should:
- Create tests for the issue
- Enable builtin depending on the swig version

For swig 4.0.2 this issue will be apparently fixed: https://github.com/swig/swig/commit/cb5d7398b562e77436e5766fb17a40bfe8c4f973

[2020-01-07 11:50] #116 closed

[2020-01-17 12:21] TobiasWinchen commented on #214
Closed by https://github.com/CRPropa/CRPropa3/pull/259

[2020-01-17 12:21] #214 closed

[2020-01-22 15:54] tfitoussi opened #267 "Implementation of turbulent magnetic field from Tautz and Dosch 2013"
Dear all,

As far as I know CRPropa currently uses the algorithm of [Giacalone & Jokipii 1999](https://ui.adsabs.harvard.edu/abs/1999ApJ...520..204G/abstract) to generate turbulent magnetic field. In 2012, [R. C. Tautz](https://ui.adsabs.harvard.edu/abs/2012JCoPh.231.4537T/abstract)  pointed out that the implementation of a turbulent magnetic field with Giacalone & Jokipii 1999 is problematic.

"F

[2020-01-22 16:17] lukasmerten commented on #267
Hi Thomas

thanks for bringing up this topic. I know that @antoniusf and @LeanderSchlegel have looked into the turbulent quiet recently, maybe they can add to this discussion.

If we are planning to change the turbulence models we might think about combining this with @adundovi 's work on the bendover behavior of the turbulent cascade.

Best, Lukas

[2020-01-23 14:10] antoniusf commented on #267
Hi, thanks for tagging me in!

Yes, we've also been working on a TD13 implementation for some time now ([see here](https://github.com/antoniusf/CRPropa3/blob/9b5a8569a99170f9e8759ee80af4f7115298b6cb/src/magneticField/TD13Field.cpp)). I guess it's a bit unfortunate that we didn't talk earlier; on the other hand, we now have two implementations to compare! I'm actually rather grateful for this, sinc

[2020-01-23 15:01] adundovi commented on #267
@tfitoussi CRPropa doesn't use the same approach of generating turbulent fields as GJ99. In CRPropa, a so-called grid method is employed (turbulence is generated in k-space on a grid, and then inverted to the real space with FFT), while what GJ99, you and @antoniusf are mentioning we can call a plane-wave method. I quote GJ99 to define what the plane-wave method is:

In basic practical considerati

[2020-01-23 22:14] tfitoussi commented on #267
Hi everyone,

@adundovi Thank you for the clarification !

@antoniusf Indeed, it would have been good to speak before, but we can compare our implementations. I took a quick look at yours but I had no time to compare precisely the differences. My implementation is clearly not optimized nowadays since I still have some issues apparently. Did you test the physics of your implementation ?
At a certai

[2020-01-27 14:49] antoniusf commented on #267
Hi @tfitoussi,

sorry for the late response, I've been away for an extended weekend.

I was mostly not involved with physics testing for the implementation; I do know that tests were made, but I can't tell you how they relate to the tests you did.

I appreciate the offer, but I sadly do not have that much time either! I should really be working on my master's thesis now. What I can do, in the next

[2020-02-28 17:24] regiopires opened #270 "Problems installing CRPropa on my system - Centos"
Dear developers,

I have problems installing CRPropa on my system
**System Information: (Please fill out the following information)**
 - Operating system:
   Red Hat Enterprise Linux Server release 7.6

 - Laptop or computing cluster?
   Computing cluster

 - Python version: [e.g. 2.7, 3.7, ...]
   Python 2.7.15

 - Swig version: [swig -version]
   SWIG Version 2.0.10
 - Cmake version: [cmake --ve

[2020-02-28 18:53] adundovi commented on #270
Dear @regiopires,

I'm afraid that you should update SWIG to at least SWIG 3 (~2014). We have recently started to use C++11 features which are supported from SWIG 3 (see [[1]](http://www.swig.org/Doc3.0/CPlusPlus11.html)). Which compiler do you use?

[2020-03-01 08:29] wdtcjy commented on #109
I have similar problem here.
[ 84%] Building CXX object CMakeFiles/crpropa.dir/src/magneticLens/ParticleMapsContainer.cpp.o
Linking CXX shared library libcrpropa.so
[ 84%] Built target crpropa
[ 85%] Generating crpropa_wrap.cxx
/storage/work/y/yuj119/CRPNewVersions/CRPropa3-6/include/crpropa/Vector3.h:39: Warning 312: Nested union not currently supported (ignored).
/storage/work/y/yuj119/CRPNewVer

[2020-03-01 08:42] adundovi commented on #109
Please, open a new ticket instead of posting in closed ones. In it you should write your compiler/SWIG versions. However, at first glance, I would say that you use unsupported version of SWIG (should be 3+) to successfully compile recent versions of CRPropa.

[2020-03-01 09:38] wdtcjy commented on #109
Sorry. I was just devastated. I am stuck at this problem for like 3 weeks. I must say installation of CRPropa is really painful. I start to use it 3 years ago. Every time I want to update its version, I feel so scary. I don't know what problem will show up. Now for this time, I first try virtual environment you recommended, but when cmake, it cannot find the swig I installed no matter what I tried

[2020-03-01 10:11] adundovi commented on #109
Don't downgrade SWIG. The problem probably lies, from what you have described, in the heterogeneity of your system: if you have many different versions of Python/SWIG/compiler present on your system, that could lead to inconsistent, somehow random results. Since, in that case, CMake finds some of the dependencies automatically, but usually not those that you want and that are needed for the succes

[2020-03-01 10:25] wdtcjy commented on #109
Thank you. I downgraded swig to test and recovered to 3.0.12. and I think conda install will replace and keep only one version alive. I use red hat linux. I suppose: when cmake,  it found the swig of appropriate version(3.0.12) means it will use such a version for cmake. or am I wrong? and what is the correct way to tell cmake the paths to dependencies?

When I look at the output of cmake, it look

[2020-03-01 10:33] adundovi commented on #109
Remove everything from the build directory first, and then c/p here the output of the cmake command where it should be written what was exactly found. And don't forget to install `numpy` (with pip) in your python environment first.

[2020-03-01 11:23] wdtcjy commented on #109
Really appreciate that you make me find something I missed. In the conda environment I did not install numpy. Though it shows numpy not found, but cmake goes through by that, so I never pay attention to that. I installed numpy and the error I posted went away. However, the make still failed because of the following:

[ 89%] Building CXX object CMakeFiles/testAdiabaticCooling.dir/test/testAdiabatic

[2020-03-01 12:05] adundovi commented on #109
I see. So, the problem is now in HDF5. If you don't use this feature, run cmake to disable it: `cmake .. -DENABLE_HDF5=False`. Or, investigate why CMake didn't find the correct HDF5 path, even though it says that HDF5 has been found. I would classify this as a bug in our CMakeLists.txt or CMake itself, however, to properly debug it, the complexity of your setup should be minimized.

I do plan to r

[2020-03-01 16:51] antoniusf commented on #267
Hey Thomas (and everyone else),

this took me some time to get around to, but I've finally managed to compare the two implementations. (For reference, here are the two files: [yours](https://github.com/tfitoussi/CRPropa3/blob/d56629835ff9fa04bd189043d828c3b2c235f02a/src/magneticField/TD13Field.cpp), and [ours](https://github.com/antoniusf/CRPropa3/blob/9b5a8569a99170f9e8759ee80af4f7115298b6cb/src/

[2020-03-02 17:00] tfitoussi commented on #267
Dear @antoniusf,

Thank you for the great job of comparison. I had sadly no time to work on it on my side.

From what I can say, the computation of G_k as a powerlaw is a limit case of the general implementation in the article (i.e. k_n>>1 and q=0). For the rest I don't think indeed it changes a lot.

I don't think that cleaning the code is priority here and you have surely others on your side.

I

[2020-03-05 14:46] antoniusf commented on #267
Dear @tfitoussi,

that sounds great, thank you! Feel free to let me know if any questions come up with regards to my code. Also, I hadn't realized that the straight power-law was a limit of the general formulation, so that's good.

Thanks,
Antonius

[2020-03-05 17:34] tfitoussi commented on #267
Hi @antoniusf,

I made a fork of your branch [here](https://github.com/tfitoussi/CRPropa3/tree/TD13). I cleaned up a little the tree to merge the last update from the master branch of CRPropa and I made a few changes so that I can make comparison.
1. I replaced the definition with a coherence length by a minimal and maximal length like in initTurbulence
2. I added an option to choose between a pur

[2020-03-05 20:27] antoniusf commented on #267
Hi @tfitoussi,

thank you so much for all your work. I feel a bit bad responding as slowly as I do, given how much you've done already.

I feel even worse that didn't tell you how terribly organized the repo is. Counterintuitively, the `TD13` branch that you merged in does not actually contain our current implementation, because that sits in the `field-perf` branch (I was working on making it fast

[2020-03-05 22:06] tfitoussi commented on #267
Hi @antoniusf,

Don't feel bad, I didn't answer for three weeks before '^^. It was clear since the beginning that none of us really had a lot of time to work on it, so we contribute time to time and it's ok for me. This week, I have more time since I'm waiting some other results to be computed, so I can answer quickly.

After I'm not a big guru with git neither. It's the first time I use it to col

[2020-03-06 16:54] jplundquist opened #271 "Quimby Includes Not Found"
Hello developers,

I have problems installing CRPropa with Quimby enabled on my system
**System Information:**
 - Operating system: Ubuntu Linux 18.04
 - Laptop or computing cluster? Desktop
 - Python version: 3.7.4
 - Swig version: 3.0.12
 - Cmake version: 3.10.2

**Did you install CRPropa from git or download a release?**
Installed from git release. Version 3.1.6-21

**Things that I checked:**
C

[2020-03-06 18:21] TobiasWinchen commented on #271
Hi, it appears you found a bug in our CMake setup. Apparently, the optional parts such as Quimby, muParser and SAGA are not correctly included in the python interface. I created a fix in my [fork](https://github.com/TobiasWinchen/CRPropa3/tree/fix_cmake) you can try before the corresponding pull request https://github.com/CRPropa/CRPropa3/pull/272 is merged. Thank you for reporting.

[2020-03-06 19:04] #271 closed

[2020-03-08 12:49] antoniusf commented on #267
Hi @tfitoussi,

Thanks, that's nice to hear.

I think your approach sounds great! I'll pull down your branch and do the necessary modifications, then notify you when that's done.

– Antonius

[2020-03-10 17:20] jplundquist commented on #271
Hello, thanks for the assist. I am now able to compile with no errors but make test fails for 16 through 19. The output is "*** CRPropa import failed
<class 'AttributeError'> module 'quimby' has no attribute 'MagneticField'"

[2020-03-11 00:43] adundovi commented on #271
Looks to me like Quimby needs some updates to work with recent CRPropa versions. Where did you download Quimby? I notice that the original site and the repository is gone.

[2020-03-11 13:59] jplundquist commented on #271
Doing a google search of quimby magnetic fields I found some way down this repository: https://git.rwth-aachen.de/3pia/forge/quimby

[2020-04-04 11:48] rafaelab commented on #270
I confirm this bug.
I have tested several combinations of GCC versions (6.5, 7.4, 9.3), and SWIG (3.0.12, 4.0.1).

I have been trying to solve this problem for days and still haven't found a solution. When I deactivate python support, CRPropa compiles just fine. Therefore, I suppose the problem is SWIG-related. However,  I don't understand why the same SWIG version works in my laptop but not in th

[2020-04-04 15:15] adundovi commented on #270
@rafaelab Thanks for updating this issue. Make sure that CMake really finds the correct SWIG - that is the first that pops up in my mind. For example, when I compile with SWIG 4.0.1, I have the warning:
[code]
but not the next one:
[code]
If we inspect which line it is:
[code]
that's a list initializer [present](https://en.cppreference.com/w/cpp/language/list_initialization) from C++11, and [suppo

[2020-04-04 17:03] rafaelab commented on #270
I am pretty sure that all versions I'm using are the right ones because I'm explicitly writing down their path  when running cmake.

The warning message is familiar - I almost always get it. But the error is something new.

I have spent all day digging into this a little further.
The problem apparently is that SWIG 3+ does not accept nested structures. In Vector3 we have class, union, and struct.

[2020-04-04 21:29] rafaelab commented on #270
There was an older version of CRPropa installed by the admin of the cluster where I was trying to do my installation. It was conflicting with the one I was installing (I don't understand how), hence the missing list initializer for Vector3.
@regiopires: Could you make sure that there are no conflicting versions of the code?
If you install a newer version of SWIG, as @adundovi said, make sure it is

[2020-04-08 08:00] adundovi commented on #270
@rafaelab So now you resolved your issue? May I close this ticket?
(Probably cmake found the headers of that other version somehow instead of the one in your build directory)

[2020-04-08 08:18] rafaelab commented on #270
This is also the only explanation I could come up with.
I was waiting for @regiopires to reply before closing this issue, but I guess we can close it for now.

[2020-04-08 08:18] #270 closed

[2020-04-14 13:29] Froehliche-Kernschmelze opened #276 "Replace SOPHIA by C++ version, closes #213, potentially closes #85"
Hey there, I have a working C++ v.11 version of SOPHIA. The .cpp file exists, yet I require help in embedding the code into CRPropa shall the decision be made to approve my proposal. This particularly includes the cmake files, etc.

The FORTRAN version of SOPHIA as-is is known to produce a computational bottleneck if parallelized. This causes the so-called "8-core saturation problem" in CRPropa as

[2020-04-14 13:50] adundovi commented on #276
Hi Mario, this looks like a tremendous, yet very appreciated task. Looking forward reviewing the code.

First, if the new code is not a direct translation of FORTRAN's one, I would name it differently abandoning "SOPHIA" from variable and file names altogether and putting only credits inside of the new code. This is already a different implementation, you removed a lot of unneeded code, and SOPHIA

[2020-04-14 15:40] TobiasWinchen commented on #276
The code can be put into https://github.com/CRPropa/sophia_next for now

[2020-04-15 15:41] antoniusf commented on #267
Hi @tfitoussi!

Good news: Thanks to the CRPropa busy week, I finally got around to doing this. :)
My branch is [here](https://github.com/antoniusf/CRPropa3/tree/td13-merge), but I've also opened a PR against your TD13 branch, so you should be able to pull in my changes easily. I've checked the results of the merged version against my old code and found them to be identical. (Not exactly, since th

[2020-04-15 17:03] tfitoussi commented on #267
Hi @antoniusf,

Great job !
I quickly checked the code and I still find the same results.
So for me, it is OK for a PR on the master branch of CRPropa. Do you want to do it or I go ?

Cheers

[2020-04-15 17:04] adundovi commented on #267
@antoniusf Nothing special, just that I'll try to take more responsibility to coordinate this issue as one of CRPropa developers.

First, I'm curious about the compatibility of the faster implementation with recent compilers?

[2020-04-16 10:04] antoniusf commented on #267
@tfitoussi I'm not sure, what does @adundovi say? Also, if one of us opens a PR, can the other still add commits?

@adundovi Oh, okay, thank you so much!
So, as for compiler compatibility, I think the only thing in the code that needs C++11 is the call to `std::align`. However, I've recently learned how to do this manually, so we should be able to remove this dependency and get the same result.¹ A

[2020-04-16 10:14] antoniusf commented on #267
Also on the topic of AVX: I've also written a version that uses AVX's predecessor, SSE. While there are still some old processors in use that don't support AVX, SSE is old enough that it's probably supported by everything people use for simulations. However, that version is about 2x slower than the AVX version. (Though this is still a lot faster than non-optimized.) The code is very similar to the

[2020-04-16 16:15] rafaelab opened #278 "General thinning module"
In future versions it is desirable to have a general thinning module that can act on any interaction that produces multiple secondaries.
This is particular useful for electromagnetic cascades.

[2020-04-16 17:30] TobiasWinchen commented on #267
Please use C++11 align, as C++11 is now mandatory for CRPropa anyway

[2020-04-17 09:25] antoniusf commented on #267
Okay, great!

[2020-04-17 09:32] adundovi commented on #267
Yes, C++11 is now required in CRPropa. Thanks for explaining my compatibility question. I'll try to test this implementation myself, however, let see if we can generalize this to put it side by side to the grid turbulence functions since they provide the same logic. I'll think more about it, and return here with some better ideas.

[2020-04-17 10:51] antoniusf commented on #267
Okay! I'm curious what you come up with, because right now I'm not quite sure I understand.

I think you could conceptualize grid computation as two steps: First, generation of the wavemode parameters, and second, evaluation of these wavemodes at certain points. In TD13, evaluation happens in `getField` for a single point. In `initTurbulence`, evaluation happens for an entire grid of points at onc

[2020-04-17 12:09] adundovi commented on #267
No, no. Of course, I understand this. :-)

I'm just saying that the grid version is placed outside of the magnetic field folder as in principle can be used elsewhere (not only for magnetic fields) - but at the moment I don't see if a vector field is of any use in the context of cosmic rays and CRPropa besides the magnetic fields. Therefore, I would like to put those two methods side by side in the

[2020-04-17 12:24] antoniusf commented on #267
Ooh, okay, thank you for explaining, that sounds like a really good idea! Now I understand what you meant by "generalize", and I agree that doing this for the spectrum (and L_c) sounds smart.  I'm sorry for making assumptions, I should have waited for you to elaborate first.

Okay, I'm curious to hear what you come up with!

[2020-04-18 16:25] Froehliche-Kernschmelze opened #282 "Missing support for most current IRB fields & retrieval of CRPropa2 data tables for ElectronPairProduction"
Hi everyone,

for the future custom photon fields to properly work on the ElectronPairProduction module, I need to be able to reproduce the data files being read in by this module. There is supposed to be one background photon file for each background, however, with only the CMB and the IRB_Kneiske04 existing for this module.

A look into the CRPropa3-data repo where there is a script [calc_pairpr

[2020-04-19 08:39] lukasmerten commented on #282
Hi @Froehliche-Kernschmelze
For the moment I can just add to this discussion, that I alos stumbled over these lines a couple of month ago. I mentioned this briefly during the discussion of #255. However, I will help to investigate this.

[2020-04-20 08:25] Froehliche-Kernschmelze opened #283 "Clarify meaning of photon field "global evolution factor""
Der all,

also, in order to properly implement custom photon fields, there is a quantitiy called the "global evolution factor" of a photon field. From what it looks like it is a redshift-dependent scaling of the photon field itself as can be seen in [this example](https://github.com/CRPropa/CRPropa3/blob/12f152a02c5eb99fd8f3d66c061da6f69e918574/src/module/EMPairProduction.cpp#L215)
[code]
My probl

[2020-04-20 17:02] PrantikS opened #285 "Plotting large amount of data from CRPropa3 output"
The Examples of CRPropa3 use Python libraries for plotting. I have found that this method does not work for large amount of data. For example, I have simulated a source with 1 billion primary protons, which generates a huge amount of data after propagation. I am using similar code for plotting these data as given in examples. The code works perfectly for numbers of the order of 1 million, but fail

[2020-04-20 17:45] rafaelab commented on #285
Hi!
Possible reasons are the limitation of memory of your computer, or the way python read files, which is very inefficient.
Since this is not a question directly connected with CRPropa, I'll close the issue. But my suggestion is to change the way you read files in python, or try another package.

[2020-04-20 17:45] #285 closed

[2020-04-20 17:52] rafaelab commented on #285
P.S.: If you decide to use ROOT, there is a plugin for CRPropa to generate outputs in that format: https://github.com/CRPropa/ROOTOutputPlugin

[2020-04-20 18:09] TobiasWinchen commented on #285
You can plot large amounts of data with numpy, just bin the data in histograms (as ROOT does). Or just use ROOT. Of course if you store all data in a single txt file, this would probably be problematic - You are using hdf5, right?

[2020-04-20 21:42] Froehliche-Kernschmelze commented on #283
Got the solution.

It is actually contained in the photon density dependent on photon energy and redshift since the scaling factor is defined as
[code]
where dn/de is the differential photon number density (with e being the photon's energy
in units of 1 / (energy * volume).

...and actually was explained just like this in the CRPropa-data repository [here](https://github.com/Froehliche-Kernschmelz

[2020-04-20 21:42] #283 closed

[2020-04-21 02:36] PrantikS commented on #285
I was using txt file, that might be the problem. This is really helpful. Thank you very much.

___________________
Best Regards,
Prantik Sarmah
________________________________
From: Tobias Winchen <notifications@github.com>
Sent: 20 April 2020 23:40
To: CRPropa/CRPropa3 <CRPropa3@noreply.github.com>
Cc: PRANTIK SARMAH <prantik@iitg.ac.in>; Author <author@noreply.github.com>
Subject: Re: [CRPropa/

[2020-04-21 06:56] lukasmerten commented on #285
@PrantikS, you might want to check python's library _pandas_, which is optimized for large data workflows. It works well together with numpy and matplotlib, too.

[2020-04-30 00:38] adundovi commented on #267
Sorry for the delay. I have finally looked into the TD13 paper and your implementation of it in CRPropa, and I have several questions...

First and foremost, did anyone try to compare TD13 and the default one? From what I can tell, they cannot be easily compared because they use different spectra what causes different turbulent field. In specific, the comment says:
[code]
which will not lead to th

[2020-04-30 01:18] adundovi commented on #267
I should have read this thread again from the beginning before posting my last comment. My first and second questions are already answered - I see that the spectrum issue is a by-product of merging two implementations, where the comment in the code left from only one of them. Moreover, I see that @tfitoussi performed a comparison test, yet, due to my last point (of the implicit bend-over scale l0=

[2020-04-30 07:44] adundovi commented on #267
I've opened a new PR, #287, which is not meant to be merged, but to serve as tracker for this model also. Please rebase your branch against it, put the `TD13Field.h` inside of `turbulentField`, and inherit the abstract class and use the generic spectrum provided by that class. For the moment, don't provide the Lc feature as we would have to think which one actually to implement.

[2020-04-30 11:33] antoniusf commented on #267
Hi,

thanks for all of your effort so far! I'm sorry if the merge left some confusing parts, I must have missed that.

I can take care of rebasing and adapting TD13 to `turbulentField` in the next few days, if that's desired. I'm not sure if there are still open questions I can help answer, but most of the spectrum related stuff should be covered by the new base class now anyways, right?

 – Anton

[2020-04-30 12:13] adundovi commented on #267
Hi Antonius,

that's great! Thanks. Yes, once the spectrum is inherited from the base class my concerns, at least about the spectrum, should be resolved! I have prepared several test-particle simulation checks which should give the same results between the grid and the plane-wave method (some of them also have analytical results). Before performed tests by @tfitoussi (as far as I saw from the atta

[2020-04-30 14:08] antoniusf commented on #267
Okay, will do! One more question: You said to rebase the current TD13 branch onto your PR. Would a merge do as well? The TD13 does not have a straightforward git history, since it contains modifications by both me and @tfitoussi, so I feel like a rebase might be somewhat involved.

Also on the topic of the git history: It was bugging me a bit that the history of our work on TD13 wasn't really refl

[2020-04-30 15:48] rafaelab opened #288 "Possible problem with tabulated synchrotron data"
The file data/Synchrotron/spectrum.txt contains values above 1.0 for cumulative probabilities.

The header reads:
[code]
And the last lines of the file are:
[code]
Therefore, there is a problem with either the comments (unlikely) or the data.  If the latter is true, this might affect the physics.

I will investigate this further.

[2020-04-30 18:43] TobiasWinchen commented on #288
The code in randBin normalizes the distribution to 1, so probably only a normalization factor in generating the CDF from the spectrum has been ommitted in the table. I think to remeber that this is also the case in other tables. However, the number here should be in higher precision written to the file, as currently log10(x) is capped at 1.13 and not 2 as the file suggests - the resulting error is

[2020-04-30 19:17] rafaelab commented on #288
Thanks, @TobiasWinchen.
I just checked that after posting this issue.
Indeed the error is negligible, so there's nothing to worry about.  I will fix the calc_synchrotron.py script anyways, just for consistency.

[2020-05-03 04:03] adundovi commented on #267
Hi @antoniusf, this will work too. Actually, I have already merged your `td13-clean` branch with the general turbulence PR #287, so you can continue from there. Once TD13 is "converted" to the `TurbulenceField` base class, and after I clean a bit other files and add some tests for all of these, we will proceed with the merge of #287 into the main branch.

[2020-05-03 14:06] antoniusf commented on #267
Awesome, thank you!

[2020-05-03 15:08] antoniusf commented on #267
One more question: which convention would you like to be used for the spectral index? As it is used in the TD13 paper, with 5/3 for a Kolmogorov-like spectrum? Or as it is used in `initTurbulence`, with –11/3? (Brief explanation for those wondering, since it took me way too long to understand this: TD13 uses a –5/3 spectrum, since the outer wavemodes have larger volumes to fill (proportional to k²

[2020-05-03 17:04] antoniusf commented on #267
Please let me know if this covers your expecations or if there's something you'd still like me to do.

[2020-05-03 17:50] adundovi commented on #267
I'm for 5/3, and I've already put it in the new base class (called `sindex`). Firstly, it is the original Komlogorov result widely recognized. Secondly, the additional k^-2 in -11/3 comes from the correction for the 3D geometry (to cancel out k^2 which comes when the integration over wave-numbers is performed: dk^3 is transformed to spherical coordinates k^2 dk), while in the slab or 2D geometry i

[2020-05-03 17:56] adundovi commented on #267
It is fine as far as I can see. Great work! I'll see now how it works in practice, and improve the other components of this big PR (`TurbulentField` and `GridTurbulence`) so that it can be merged with the master. BTW, q = 4 should be the default value, not 0.

[2020-05-03 21:27] antoniusf commented on #267
Oh, okay, thank you for the explanation! I wasn't aware that 5/3 was the standard value and 11/3 the corrected one. This now makes sense to me, thanks!

I must have missed the q = 4 thing, sorry. I'm assuming that you're going to fix this during your cleanup, or would it be helpful to you if I commited the fix?

[2020-05-04 07:21] adundovi commented on #267
Hi @antoniusf, I've merged your changes in the PR. So far, looks good. I've removed L_c from your class and implemented the correct one inside of `TurbulentField` (luckily C++11 has the gamma function in the standard library), therefore, it works for all (except the Simple model which has its own L_c). I'm still undecided regarding the arguments' order in the constructors: should those regarding p

[2020-05-04 15:47] antoniusf commented on #267
Hi @adundovi,

that sounds great, thank you!

The order of arguments is also something I wasn't able to solve to my satisfaction, especially considering default values and such. Speaking from recent experience with Rust library conventions, it might be worth to consider the builder pattern? e.g.

[code]

(the `build` method then checks that all necessesary values are present, fills in the defaults

[2020-05-04 18:36] adundovi commented on #267
Although I like the Rust way, I don't think that people of this community would generally recognise such a pattern (save that idea for later when we'll rewrite CRPropa in Rust ;-) ). I'm also not sure how it would work with SWIG which is quite limited when used in non-default C++ design patterns. I already started drafting something similar what you suggested as the alternative, yet, we have to ch

[2020-05-04 19:12] antoniusf commented on #267
Okay, that makes sense to me. Awesome!

Huh, I see what you mean with regards to L_min and L_max. I'm curious to see what you will come up with.

I really do hope that integrating `PlaneWaveTurbulence` didn't break anything, but I think you were also referring to the actual physics. But please just keep in mind that I have not tested the integrated version of the code against the older versions.

[2020-05-04 19:49] adundovi commented on #267
By convincing I meant both as an implementation and as an approach :-) So far I've been "specializing" the grid approach and I understand well what results produced by it makes physical sense and what are numerical artefacts. With the plane-wave approach, I don't know yet. I also don't understand how the number of modes affects the resonance of the scattering. TD13 is not clear on that, only sugge

[2020-05-04 20:25] TobiasWinchen commented on #267
The build pattern should probably work in python and swigged objects, but unless we introduce it on a large scale in CRPropa we should not use it here: We should avoid having to many different interface patterns in different code parts to keep complexity low. In particular, as python kwargs solve the problem already for most of CRPropa steering already, so only the C++ interface would benefit here

[2020-05-04 20:41] adundovi commented on #267
Are you referring to the Rust-like pattern or providing the spectrum parameters through a new object like @antoniusf suggested as alternative? Do you think that we should put all 8+ parameters in the turbulent field constructor? If not, what approach you would use?

[2020-05-04 22:18] TobiasWinchen commented on #267
I don't like the builder object, but you could use a static method as in
https://en.wikibooks.org/wiki/More_C%2B%2B_Idioms/Named_Parameter
which is nice for this purpose.  We do not use this in CRPropa yet, but we could. However, python kwargs are preferable and easily automatically created having the parameters in the constructor, so the pattern helps only in constructing C++ objects and not in t

[2020-05-05 09:01] adundovi commented on #267
@TobiasWinchen The issue I have is that I would like to define the order of parameters in the constructor which follow the importance of parameters in physical sense, i.e., when you define a turbulent magnetic field, first you are interested in Brms, following by the spectrum of the inertial range, the L_c (which is directly related to the bendover scale)... finally, you reach "technical" paramete

[2020-05-05 10:06] TobiasWinchen commented on #267
OK - For the case here introducing a TurbulenceSpectrum struct with appropriate constructor is probably the easiest way to go, for the build pattern I would like to see a complete draft first to get a better picture, and we should think on how this would look in other parts of the code, so this would be more work to make it nice with probably only little benefit (KISS). Also, for python you will w

[2020-05-05 18:14] adundovi commented on #267
OK, the test with a regular background field also went very well - matches results of the grid method. However, the performance of the evaluation dropped considerably - I'm not sure why since the PlaneWaveTurbulence instance stayed the same.

![test_case_7](https://user-images.githubusercontent.com/8830248/81100257-86131b00-8f0c-11ea-9380-8e7dc4ea2152.png)

I'll clean up the interface of all class

[2020-05-06 10:16] antoniusf commented on #267
Huh, the drop in performance seems weird, I could take a look at that if you want? By about what factor did it get slower?

[2020-05-06 18:53] adundovi commented on #267
My performance issue is not something that blocks the merge - don't worry. :-) The implementation works great so far. Actually, looks superior to the grid method, although I still don't understand what is the proper (?) number of modes (Nm) that one has to adopt for her/his problem.

Regarding the performance issue. I turned all optimizations on, but the difference is the same with or without them

[2020-05-08 13:28] antoniusf commented on #267
Hey, sorry for the delayed response. I'm relieved that this doesn't seem to be the optimization's fault, I was a bit worried about that. Do you think that this might have something to do with the physics? For example, that it somehow has to do more steps per particle as B increases? (I still have some stepcount instrumentation lying around from when I was doing perf tests, I might be able to dig t

[2020-05-09 12:00] adundovi commented on #267
I'll explore the details of this issue, maybe indeed it is physics-related (although I don't use adaptive-step integration, but fixed-step and I don't remember having the same difference when the grid-method is used, however, I have to double-check the last claim). Thanks for your language suggestion - I've read somewhere before about the possibility of using their for the neutral 3rd person (i.e.

[2020-05-09 23:14] antoniusf commented on #267
Oh, you're right, it wouldn't make sense for this to be a physics issue if it didn't occur with grid-based turbulence. I'm curious to hear what you find!

Regarding the singular they: I can totally understand that. Also, I think it very much depends on the context – in some circles it feels like it's pretty much universally known, but not so much in others. I do feel like it's relatively prevalent

[2020-05-12 20:23] adundovi commented on #234
The discussion is now continued in PR #287. Closing this one.

[2020-05-12 20:23] #234 closed

[2020-05-18 10:53] wilson-2015 opened #295 "Simulations of cosmic rays for mixed compositions."
Hi,
I am looking for information(paper) that describes how to simulate UHECRs for mixed compositions i.e., H, He-4, N-14, Si-28, Fe-56. The example described on CRPropa webpage is not solving my problem. Any information will be much appreciated.
Thank you.
Wilson.

[2020-05-18 11:03] lukasmerten commented on #295
You can take a look at this https://ui.adsabs.harvard.edu/abs/2018JCAP...02..036E/abstract paper. There are quite some information on the re-weighting of the mixed compositions included.

Since this is not directly related to the code, I'll close the issue.

[2020-05-18 11:03] #295 closed

[2020-06-19 06:37] PrantikS opened #297 "fftw3 not found"
Dear developers,

I have problems installing CRPropa on my system
**System Information: (Please fill out the following information)**
 - Operating system: CentOS 6.6
 - computing cluster
 - Python version: 2.7.13
 - Swig version: 3.0.12
 - Cmake version: 3.9.6

**Did you install CRPropa from git or download a release?**
I installed version 3.1.6 from the releases.

**Things that I tried before ask

[2020-06-19 06:52] rafaelab commented on #297
Dear Prantik,

This problem happens when libfftw3f.so is not being found by the system. This is not a CRPropa-related issue.

If you exported the directory wherein this file is in the LD_LIBRARY_PATH, it should work.
Alternatively, you can pass its path to cmake using the flag -DFFTW3F_LIBRARY=/path/to/libfftw3.so when running the command "cmake ..".

[2020-06-19 07:05] PrantikS commented on #297
Thank you very much. It's working now with cmake flag. It's strange that it is not taking the LD_LIBRARY_PATH.

___________________
Best Regards,
Prantik Sarmah
________________________________
From: Rafael <notifications@github.com>
Sent: 19 June 2020 12:22
To: CRPropa/CRPropa3 <CRPropa3@noreply.github.com>
Cc: PRANTIK SARMAH <prantik@iitg.ac.in>; Author <author@noreply.github.com>
Subject: Re: [

[2020-06-19 07:09] #297 closed

[2020-06-19 09:28] PrantikS opened #299 "Fails building at 42%"
Dear developers,

I have problems installing CRPropa on my system
**System Information: (Please fill out the following information)**
 - Operating system: centOS 6.6
 -  computing cluster
 - Python version: 2.7.13
 - Swig version: 3.0.12
 - Cmake version: 3.9.6

**Did you install CRPropa from git or download a release?**
I installed version 3.1.6 from the releases.

**Things that I tried before as

[2020-06-19 09:36] adundovi commented on #299
Please check also your GCC version... It seems that your GCC does not support C++11. See for example [this](https://edwards.sdsu.edu/research/c11-on-centos-6/).

[2020-06-19 09:44] adundovi commented on #299
CentOS 6 comes by default with a pre-C++11 version of GCC and we cannot support such an old software (~9 years old). That is why we put in requirements:

    C++ Compiler with C++11 support (gcc, clang and icc are known to work)

 Also, soon will CentOS 6 be end-of-life, i.e., without official support.

[2020-06-19 10:04] TobiasWinchen commented on #299
Note that version 3.1.5 (and earlier) does not require C++11 and should *probably* work on your system. Please consult the changelog for anything affecting your usecase.

[2020-06-19 10:28] PrantikS commented on #299
The cluster (CentOS 6.6) has gcc 7.5.0. Which is showing these errors. I have the same gcc version in my laptop (ubuntu 18.04 ) also, there these errors don't come.

[2020-06-23 04:29] adundovi commented on #299
@PrantikS Please check if you really use GCC 7 because the above-shown error looks like your compiler does not support lambda expressions (which is a C++11 feature). For example, with `ccmake` you can easily list compilers paths... Maybe CMake found the default, older GCC, despite the fact that also GCC 7 is installed.

[2020-06-26 18:45] PrantikS commented on #299
Thanks @adundovi . I will check it.

[2020-06-29 18:30] PrantikS commented on #299
Hi @adundovi , I tried using ccmake but errors are still there. Kindly look at the attached pic, the cmake is using gcc 8.2.0.
![Screenshot from 2020-06-29 23-56-47](https://user-images.githubusercontent.com/50761003/86042248-7fb0a380-ba64-11ea-94be-dc2f733dc67f.png)

[2020-06-29 19:06] TobiasWinchen commented on #299
Just to check, did you start from a fresh build after using ccmake? Could you please also post the output of verbose compilation, i.e. using `$VERBOSE=1 make ` and not just make. This prints the full compilation command.

[2020-06-29 19:41] PrantikS commented on #299
Yes, I started from a fresh build. Please see the attachment for output of $VERBOSE=1 make:
![Screenshot from 2020-06-30 01-08-52](https://user-images.githubusercontent.com/50761003/86048713-98be5200-ba6e-11ea-9ce8-44383ad74016.png)

[2020-06-29 20:03] PrantikS commented on #299
The issue is solved now. It was because cmake was using the system c++ compiler which was old (default CentOS 6.6). Thanks to @adundovi  for pointing it out. Now the building failed at 75% with the following error:
![Screenshot from 2020-06-30 01-32-03](https://user-images.githubusercontent.com/50761003/86050489-8e518780-ba71-11ea-9782-72c62d7af583.png)

[2020-06-30 01:35] adundovi commented on #299
Hi @PrantikS, for the last error: either turn off the compression feature with (c)cmake (`-DCRPROPA_HAVE_ZLIB=Off`) or provide a proper zlib installation by changing `ZLIB_INCLUDE_DIR`,  `ZLIB_LIBRARIES` and `ZLIB_LIBRARY_RELEASE` (the local one you have currently found by CMake is not compiled correctly). I would recommend the latter since CRPropa output can be huge.

[2020-06-30 14:10] PrantikS commented on #299
Thanks @adundovi. This is solved. Again there is another error at Linking  CXX executable testGalacticMagneticLens
![Screenshot from 2020-06-30 19-36-29](https://user-images.githubusercontent.com/50761003/86136232-73caed00-bb09-11ea-8bf1-529486bd2b74.png)

[2020-07-01 17:09] adundovi commented on #299
@PrantikS, please paste this in a text form, not as a picture because it is hard to read and see everything. But again, some of your errors could appear due to the missing C++11 support in your compiler - did you put all compiler paths to GCC 7?

[2020-07-04 16:53] PrantikS commented on #299
Thanks @adundovi. I have put all paths to GCC7 for c++. But for c and fortran, cmake is using the system compiler paths which are version 4. Is that the problem?

[2020-07-07 10:53] PrantikS commented on #299
Please look at these errors

`[ 79%] Linking CXX executable testGalacticMagneticLens
CMakeFiles/testGalacticMagneticLens.dir/test/testMagneticLens.cpp.o: In function `_ZNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEE12_M_constructIPcEEvT_S7_St20forward_iterator_tag.isra.72':
testMagneticLens.cpp:(.text.startup+0x62): undefined reference to `std::__cxx11::basic_string<char, std::char_traits<cha

[2020-07-07 11:27] adundovi commented on #299
Hi @PrantikS from your output I can guess that you are linking your version of CRPropa against an old version of libstdc++. Please check that all paths in CMake are pointing towards consistent versions of the compiler and libraries. Ask your system administrator how to compile a code with provided GCC 7, and not the system one.

[2020-09-13 07:29] cozzyd opened #305 "Plugin template does not work with TypeError"
**Describe the bug**

I try to compile the plugin template, which links properly, but when I try to import, it fails with:
TypeError: Could not create type 'MyModule' as base 'crpropa::Module' has not been initialized.

This is with the latest release of

Is the bug related to the physics in CRPropa?

No.

**To Reproduce**
[code]

**Expected behavior**
I expect the testPlugin  to import without is

[2020-09-13 08:16] TobiasWinchen commented on #305
Hi,

I can reproduce the issue. Please try to first import crpropa, and then the plugin, which works for me:

[code]

However, this import should be done ideally automatically, or at least this should be added to the documentiaton.

[2020-09-13 16:47] cozzyd commented on #305
Hi Tobias,

That does not work for me (in fact, testPlugin.py already imports crpropa first).

However, looking at the generated SWIG code for the test plugin, I see:

`#define SWIGPYTHON_BUILTIN`

I'm not sure exactly what that means, but crpropa was apparently configured (automatically) without ENABLE_SWIG_BUILTIN for me. If I turn on ENABLE_SWIG_BUILTIN, then the plugin works.

[2020-09-13 20:03] TobiasWinchen commented on #305
OK - Not enabling swig builtin is the current default due to a swig bug: https://github.com/CRPropa/CRPropa3/issues/264, which is  supposed to be fixed only in 4.0.2. however, we probably still should adapt the plugin.

[2020-09-20 13:50] PrantikS opened #306 "How to use Synchrotron radiation"
Hi,
I am using the following modules to propagate photons from protons:

sim = ModuleList()
sim.add( SimplePropagation(1*kpc, 100*Mpc) )
sim.add( Redshift() )
sim.add(PhotoPionProduction(CMB, photons, neutrinos))
sim.add(PhotoPionProduction(IRB, photons, neutrinos))
sim.add( EMPairProduction(CMB) )
sim.add(EMPairProduction(URB_Protheroe96,True))
sim.add(EMInverseComptonScattering(CMB,True))
sim.ad

[2020-09-21 07:40] rafaelab commented on #306
Hi,

Synchrotron radiation is added just like any other interaction module.
You can see how the function works in this [link](https://github.com/CRPropa/CRPropa3/blob/master/include/crpropa/module/SynchrotronRadiation.h).

So the call is
```sim.add(SynchrotronRadiation(bField, photons))```

The magnetic field is defined as those in the [examples](https://crpropa.github.io/CRPropa3/pages/example_no

[2020-09-22 06:40] PrantikS commented on #306
@rafaelab Thanks

[2020-09-22 06:40] #306 closed

[2020-09-23 11:47] adundovi commented on #299
No new information regarding this, hence closing the issue.

[2020-09-23 11:47] #299 closed

[2020-09-26 03:59] cozzyd commented on #305
I see, yeah, the plugin "worked" with builtin enabled, but it's broken in current swig. It seems like just taking -builtin out of the CMakeLists.txt (line 35) for the plugin template is sufficient to make it work properly for now. I guess ideally you'd want it to pick up whether or not it should use builitin from the crpropa installation itself. This could probably be done inside findCRPropa.py by

[2020-10-03 14:05] cainaoliveira opened #310 "Galactic Lens - Correction with Rigidity?"
I have a question about the Lens for the Galactic Magnetic Field.

"The lens for the galactic magnetic field. Note that the energies refer to protons (Z=1). To be used with other particles with a different charge number please select the rigidity accordingly."

This means that I need to replace
              M.addParticles(Id, E, galactic_longitude, galactic_latitude, E0**-1)
by          M.addPart

[2020-10-13 13:50] lukasmerten opened #311 "Documentation not available"
**Describe the bug**
Currently the documentation of the CRPropa code is not available online.

**To Reproduce**
Try to open this link https://crpropa.github.io/CRPropa3/

**Expected behavior**
Should show the documentation

[2020-10-19 15:03] MarcoChianese opened #316 "Issue with Python tests"
Dear developers,

I have problems installing CRPropa on my system since the tests 17,18,19,20 related to python provides SegFault. I have followed the installing instructions and read few similar threads, though I am still struggling with this issue. I have mac OS Mojave 10.14, python version 3.7.4 through anaconda, swig version 4.0.2, cmake version 3.17.0.

This is the output of cmake:

Could you

[2020-10-19 15:08] rafaelab commented on #316
Hi!
Could you paste here the error message of the tests that went wrong?

[2020-10-19 15:16] rafaelab commented on #316
If the error is a segfault when running testMagneticLensPythonInterface.py, this is because from Python >3.2 there was a function whose name changed.
If you replace line 63 ```self.assertEquals(len(self.maps.getParticleIds()), 1)``` by assertEqual, the test should run correctly. If this is the only problem, CRPropa should run just fine.

[2020-10-19 15:22] MarcoChianese commented on #316
In which file can i find that line 63?

[2020-10-19 15:25] MarcoChianese commented on #316
I have try to change the line in testMagneticLensPythonInterface.py, but I still get the error: `Segmentation fault: 11`

[2020-10-19 15:27] MarcoChianese commented on #316
With `make test` I get:

[2020-10-19 15:29] MarcoChianese commented on #316
The main problem is that when I import CRPropa in a jupyter notebook with `from crpropa import *` the kernel just dies. I think that this is related to the failures of those tests.

[2020-10-19 15:38] rafaelab commented on #316
These errors cannot be fixed with what I told you. These are python-related.
What happens if you type: ```python -c  "from crpropa import *"```? What if instead of ```python``` you call the exact version you used for the installation (```python3.7```)?
I am also assuming that you are exporting the PYTHONPATH to the directory where ```crpropa.py``` is (normally CRPropa3/build/) when trying to use i

[2020-10-19 15:55] MarcoChianese commented on #316
I get `Segmentation fault: 11`

[2020-10-19 16:10] rafaelab commented on #316
I have tested a similar combination (but on OS X Catalina) with clang 11.0.3, python 3.7.2, swig 4.0.2.  It works just fine. I will check the same clang version as yours later.

To troubleshoot this we'll have to check each individual dependency.
But before doing that, could you please try reinstalling CRPropa with ```-DENABLE_OPENMP=Off``` (when calling ```cmake .. [options]```?

[2020-10-21 07:48] MarcoChianese commented on #316
I have tried what you said, using the following flags for cmake:

`
CMAKE_PREFIX_PATH=$CRPROPA_DIR cmake -DCMAKE_INSTALL_PREFIX=$CRPROPA_DIR \
-DPYTHON_EXECUTABLE=/anaconda3/bin/python \
-DPYTHON_LIBRARY=/anaconda3/pkgs/python-3.7.2-haf84260_0/lib/libpython3.7m.dylib \
-DENABLE_PYTHON=ON \
-DENABLE_OPENMP=OFF \
..
`

but it does still not work. All the python-related tests fail for segfault. I att

[2020-10-21 08:10] rafaelab commented on #316
Hi,

If the error is still there with the flag ```-DENABLE_OPENMP=Off```, then it is not an OpenMP-related issue.
If you have multiple python3.7 versions installed, that explains a lot! You should ensure that the same one is used for everything, the executable, the libraries, the headers.

Try erasing the build folder, and then restarting installation with: ```-DPYTHON_LIBRARIES=/path1 -DPYTHON_EX

[2020-10-21 15:36] MarcoChianese commented on #316
I have tried with the following CFLAGS after updating all the packages with conda to restore all the dependencies:

[code]

and I've got this error:

Any clue? Might it be possible that the issue is related to anaconda?

[2020-10-21 15:51] rafaelab commented on #316
It seems like NumPy is not installed for this python version you are using (or it was not found by CMake).

[2020-10-21 15:58] MarcoChianese commented on #316
Without specifying the paths for python I do not get that error... I am really sorry to still bother you :-D

[2020-10-21 16:00] rafaelab commented on #316
That's odd. I personally like to provide every single flag by hand to avoid problems, and specifying the paths has always been the solution.

Is everything working fine now? (don't forget to reactivate the OpenMP flag)

[2020-10-21 16:03] MarcoChianese commented on #316
Well, no....I am able to install crpropa, but still get segfault with the python-related tests...

[2020-10-21 16:08] rafaelab commented on #316
So python still doesn't work even when you provide the paths by hand? Are you cleaning everything in the build folder?
Can you make sure that only one version of python is being used for everything (libraries, headers, etc)?
It does seem to be the case that there are multiple versions of python getting mixed. For me, providing PYTHON_INCLUDE_PATH e PYTHON_LIBRARIES is usually enough to get things

[2020-10-29 18:09] cainaoliveira commented on #310
Someone can help me?

[2020-11-03 19:25] TobiasWinchen commented on #310
Yes, `M.addParticles(Id, E/Z, galactic_longitude, galactic_latitude, E0**-1)` - so that the container will be filled based on rigidity rather than energy.

[2020-11-03 19:25] #310 closed

[2020-11-11 10:50] lukasmerten commented on #311
Solved with PR #314 .

[2020-11-11 10:50] #311 closed

[2020-11-13 03:55] ke-fang opened #317 "Issue with EMPairProduction and other EM modules"
**Describe the bug**
`EMPairProduction` fails to run. Seems to be an issue related to SWIG wrapper.

[code]

**System (please complete the following information):**
 - Operating system: [iOS version 10.15.7]
 - Desktop
 - Python version: [2.7.18]
 - Swig version: [3.0.12]
 - Cmake version: [3.18.2]

[2020-11-13 09:11] rafaelab commented on #317
Hi Ke,

This [change](https://github.com/CRPropa/CRPropa3/blob/master/CHANGELOG.md) was introduced in the 3.1.6 release.
Now the photon fields should be called with parentheses:  CMB(), IRB_Gilmore12(), etc.
The idea is to have a container that enables custom photon fields in the future.

Please let me know if this works.

[2020-11-13 23:18] ke-fang commented on #317
That worked. Thanks, Rafa!

[2020-11-13 23:18] #317 closed

[2020-11-20 10:17] lukasmerten opened #318 "Deprecation Warnings with current make test"
Currently some deprecation warnings are raised when `make test` is called.

* test of `SourceDensityGrid`
* test of `VectorFieldGrid.Turbulence`

I think we should update the tests to latest implementation of the turbulence model and scalar fields before releasing v3.2.

I can take care of that but not right now.

[2020-12-05 22:17] antoniusf opened #321 "TD13/PlaneWaveTurbulence performance"
Hi,

I've just re-run some benchmarks for various magnetic fields, including TD13/PlaneWaveTurbulence, and something came up that I'd forgotten about before the merge. To make things short, there's a compiler flag you can enable that makes the optimized (SIMD) implementation about 25% faster, by my benchmarks.

To go a bit more into detail, there are certain processor instructions that not all pro

[2020-12-16 08:12] lukasmerten commented on #321
For me an cmake option sounds like a good way to go. We can set this by default to not use this additional optimization. Of course we should comment on this option in the 3.2 paper as well as in the documentation.

[2020-12-16 16:15] antoniusf opened #322 "TurbulenceSpectrum.sIndex is initialized to 5, not 5/3"
**Describe the bug**
I would expect the TurbulenceSpectrum constructor to initialize sIndex to 5/3 by default (and this seems to be the [intent of the code](https://github.com/CRPropa/CRPropa3/blob/1aad73b4c2ee6e7005f43dd33695ee6c943b9241/include/crpropa/magneticField/turbulentField/TurbulentField.h#L52)). Instead, it appears to be initialized to 5.

**To Reproduce**
[code]

**Expected behavior**

[2020-12-17 17:10] antoniusf commented on #321
Okay, thanks for your feedback. I'll put it on my todo.

[2020-12-25 11:39] PrantikS opened #323 "Error in setting up turbulent field"
from crpropa import *
# set up random turbulent field
vgrid = Grid3f(Vector3d(0), 512, 30 * kpc)
initTurbulence(vgrid, 8 * nG, 60 * kpc, 800 * kpc, -11. / 3, 42)
Bfield = MagneticFieldGrid(vgrid)

When I am running this, I am getting the following error:

 vgrid = Grid3f(Vector3d(0), 512, 30 * kpc)
NameError: name 'Grid3f' is not defined

Can you help me out to resolve this issue?

[2020-12-26 09:02] adundovi commented on #323
Hi @PrantikS, please download the latest version of CRPropa as the example that you tried is based on it.

[2020-12-26 14:29] PrantikS commented on #323
Thanks, the latest version solved this issue. However, the latest version is showing the following error for the module, sim.add(PhotoPionProduction(CMB)) :

sim.add(PhotoPionProduction(CMB))
  File "/home/prantik/.virtualenvs/crpropa/lib/python2.7/site-packages/crpropa/crpropa.py", line 7564, in __init__
    _crpropa.PhotoPionProduction_swiginit(self, _crpropa.new_PhotoPionProduction(photonField,

[2020-12-28 10:36] adundovi commented on #323
Use `CMB()` instead of `CMB`. Photon fields are now classes, not an enumerator. We have changed this recently (it is written in the changelog). I'll fix this in example notebooks soon.

[2020-12-28 10:45] PrantikS commented on #323
Thanks a lot

[2020-12-28 10:47] #323 closed

[2020-12-30 11:43] PrantikS opened #325 "Can't find the Protheroe96 photon background."
I have installed the latest version of CRPropa3 where the photon backgrounds are now classes. For Protheroe's 1996 radio background, I tried using the class URB_Protheroe96() but I am not able to find it. I have looked into the src and include but couldn't find it there. Did you remove this background, or if not what is the class name for it now?

[2021-01-18 12:23] rafaelab commented on #325
The URB backgrounds were accidentally removed in a previous commit.
I have submitted a pull request (#315 ) which will hopefully soon be approved. In the mean time, you might want to use an earlier version which has this background available.

[2021-01-19 10:12] PrantikS commented on #325
Okay. Thanks

[2021-02-08 20:49] rafaelab commented on #325
Fixed with #315.

[2021-02-08 20:49] #325 closed

[2021-02-22 05:03] PrantikS opened #330 "Source spectra is getting modified after propagation"
Hi, I am trying to plot cosmic rays at the source and at the observer for a 1D simulation using the following code and I am also attaching the result I am getting. I have chosen a power law -2 at the source. Without any interaction module added, the source and observer spectra are exactly overlapping but when I add the interaction modules the source spectrum is completely modified. Shouldn't the s

[2021-02-22 11:36] rafaelab commented on #330
Hi,

There is no reason to expect the spectral shape to remain the same if interactions are included. There will be energy losses, production of secondary particles, etc. Your figure shows exactly that (the GZK cut-off, in this case).

The memory problem you are encountering is because many secondaries are produced by interaction, quickly exceeding the memory of most machines. You can, for instanc

[2021-02-22 11:37] #330 closed

[2021-04-01 12:30] authule opened #332 "Real notation for numbers in the output"
Dear developers,

After asking the support staff to install the latest release (version 3.1.7), I realized that all the numbers are output in the scientific form, i.e. 8.29707E+18, etc. Previously I used the 3.1 version and got the output in real notation, which is preferrable for my task. Let me cite the reply from the helpdesk describing the installation process:

it may be connected to python3

[2021-04-01 18:48] adundovi commented on #332
Hi Alex,

to be honest, I never check the format of numbers as long as they are correct. I don't recall that we lately change something regarding the output notation, but maybe I'm wrong. Nevertheless, I don't know how can you store a really big or a really small number in a file without the exponent, e.g. 1e-28? In the decimal notation, you would waste more than 20 characters. It could be that yo

[2021-04-02 09:34] authule commented on #332
Hi Andrej,

Thanks for your quick response.

I am afraid this is not the case, because I used the same steering card (changing only the deprecated modules for Turbulent field and Observer surface for the correspondent ones), and compared the results for 3.1 and 3.1.7 versions.

This is the very problem I am trying to avoid.

Cheers,
Alex

[2021-04-06 07:26] saikatxdas opened #333 "Tracking UHECRs corresponding to each secondary produced"
Hi,

I have a usage question. I am trying to track which EM secondaries are produced from which primary UHECR using `ParticleCollector()` but I end up getting `SN0` column to be 448 for all the rows. I am using something like this.

[code]
`ObserverDetectAll()` should detect the particles as soon as they are produced. But how come all of them have the same `SN0` in out2?

[2021-04-11 15:03] alexkorochkin opened #334 "Wrong ICS spectrum of an electron"
Dear Developers,

I was testing the EM module and found a bug with inverse Compton scattering of an electrons. The simplest case of ICS of an electron for which the spectrum of secondaries can be easily calculated is the upscattering of CMB photons by monochromatic electrons while all other backgrounds are turned off.

For this case I calculated the theoretical prediction for the ICS (red dashed l

[2021-04-12 08:43] lukasmerten commented on #334
Hi @alexkorochkin
Thanks for your detailed bug report. I will take a look at it later this week. When I can confirm it, we will include a fix for the upcoming CRPropa 3.2 version.
You said the bug was connected to a too sparse integration of the interaction rate, wasn't it? So which supporting points or which integration routine did you use?

[2021-04-12 11:29] rafaelab commented on #334
Thanks for the report, @alexkorochkin.
@lukasmerten: Maybe this was introduced in 3.1.6 together with the introduction of custom photon fields? At some point I compared the implementation with the theoretical prediction and other codes, and they showed good agreement.  This makes me think that the bug could have been introduced in changes to the scripts in CRPropa-data (which, btw, are not up-to-d

[2021-04-16 10:48] lukasmerten commented on #322
I can confirm that issue.

#### System
Operating system: Ubuntu 18
Python version: 3.6.9
SWIG Version: 3.0.12
cmake version: 3.10.2

[2021-04-16 10:59] lukasmerten commented on #333
Could you please add a minimal example that is able to reproduce that behavior. With the provided information we cannot provide any help.

[2021-04-16 11:10] lukasmerten commented on #332
Hi Oleksandr @authule
I am not sure how we can help with your issue at the moment. We will not switch to a non-scientific output for the reasons Andrej (@adundovi) brought up.
When you need more significant digits to be stored you can update, e.g., your [TextOutput.txt](https://github.com/CRPropa/CRPropa3/blob/master/src/module/TextOutput.cpp).
Please reopen this or open a new issue if there is an

[2021-04-16 11:10] #332 closed

[2021-04-16 12:14] lukasmerten commented on #321
I assume this issue is solved by #324. Please reopen if I am mistaken.

[2021-04-16 12:14] #321 closed

[2021-04-16 12:21] lukasmerten commented on #316
@MarcoChianese could you solve the problem?

[2021-04-16 12:27] lukasmerten commented on #288
@rafaelab have you fixed the calc_synchrotron.py already? Let us know if you need some help with it. I marked the issue as a 3.2 milestone.

[2021-04-16 12:34] lukasmerten commented on #267
I think that issue was solved by #287. If not, it might be good to open a new issue to start a fresh discussion.

[2021-04-16 12:34] #267 closed

[2021-04-16 12:56] lukasmerten commented on #232
Due to inactivity for about two years I am closing this issue.

A few notes for people searching the issues:

to 1) When the energy loss per propagation step dE is larger than the (minimum) propagation step is likely too large. Depending on the magnetic field strength and Lorentz factor of the particles a very small propagation might be needed.
to 3) Particles are deactivated when their energy is

[2021-04-16 12:56] #232 closed

[2021-04-16 12:58] lukasmerten commented on #170
When I remember correctly we are not planning to implement something in this direction in the 3.2 release. Therefore, I change the milestone.

[2021-04-16 13:44] lukasmerten commented on #126
Just a few comments on this issue as I started to look into the nuclear decay for some other project:

1) CRPropa neglects any effects from Coulomb interaction between the electron/positron and the daughter nucleus for beta decay. This leads, e.g., to the same electron spectra for beta+ and beta- decay, which should be different at low energies. This could be updated by inclusion of the Fermi func

[2021-04-16 13:52] saikat8018 commented on #333
Thank you for your reply. Yes, I have attached a working script
[emsim.txt](https://github.com/CRPropa/CRPropa3/files/6325489/emsim.txt)

Here, the SN0 values generated seem erroneous. Because particles with the same SN0 must have the same E0. Here, they differ.

[2021-04-16 17:02] antoniusf commented on #321
It is, thank you.

[2021-04-18 16:23] alexkorochkin commented on #334
@lukasmerten,
I used the simplest trapezoidal method with 125 logarithmic bins per decade for s integration in range 1e1-1e13 eV^2 and 250 logarithmic bins per decade for the integral with respect to E_cmb in range 1e-5-1e-2 eV.

[2021-04-20 12:20] rafaelab commented on #288
@lukasmerten
There is no real problem here, but the precision of the table can be increased. This should be done together with the new version of CRPropa-data.
Let's keep this issue open for control reasons, and close it once the data repo is updated.

[2021-05-05 14:37] lukasmerten commented on #318
The deprecation warning of SourceDensityGrid is removed with the linked PR.

The turbulence model is tested in the old (which raises the deprecation warning) and the new way. I would keep the test like that until we remove the old turbulence generation completely.

[2021-05-10 13:04] #318 closed

[2021-05-10 16:02] lukasmerten commented on #333
I finally found some time to look into this.

Have you checked what happens if you use a TextOutput for your electrons, too?
`
# Observer for EM particles
obs2 = Observer()
obs2.add(ObserverDetectAll())
obs2.add(ObserverNucleusVeto())
out2 = ParticleCollector()
obs2.onDetection(out2)
sim.add(obs2)`

In this case, I get around 8500 unique parent serial numbers (SN0 or SN1) for all observed electron

[2021-05-11 08:23] lukasmerten opened #338 "Deprecation Warning in JF12 turbulent magnetic fields"
The generation of turbulent fields in the JF12 models relies still on initTurbulence.

We should switch to the newer turbulence models based on TurbulenceField, which will allow to use more sophisticated turbulence models and remove the deprecation warning.

[2021-05-11 09:57] lukasmerten commented on #333
@saikat8018 could you try to explicitly set the constructor arguments of the ParticleCollector

`ParticleCollector(int(1e6), False, False)`

and keep the rest of your script the same? For me it is working in this case.

Which brings me to the question: Why does it make a difference if I set the default arguments explicitly? Does someone have an idea?

[Here](https://github.com/CRPropa/CRPropa3/fil

[2021-05-18 12:19] wilson-2015 opened #339 "Data files for lenced GMF"
Hi!,

I have done galactic lensing of extragalactic cosmic ray simulation and I would like to generate data files (scripts) for the lensed GMF simulations alongside the the sky maps. Any suggestion on how this can be done will be highly appreciated.

Regards,
Wilson.

[2021-05-18 13:39] lukasmerten commented on #339
Hi Wilson

I am not sure what exactly you are looking for, therefore I can only point you to our example page.
Take a look at our examples on lensing and backtracking to create lenses, e.g. [here ](https://crpropa.github.io/CRPropa3/pages/example_notebooks/galactic_backtracking/galactic_backtracking.v4.html).

Please also note that we cannot offer specific support to analyse any simulation data. H

[2021-05-18 13:39] #339 closed

[2021-05-25 14:38] tdwiser commented on #316
Hi all, I ran into this problem on MacOS with Python 3 as well. The _crpropa.so library that is loaded by the python module segfaults upon import when built for Python 3, but not for Python 2.7 (macos built-in version). It seems this is due to a difference in the proper linking of the .so file. For Python 3 on Mac (homebrew version), the .so file should NOT be linked to libpython; instead the pyth

[2021-05-26 17:18] ehlertd opened #340 "Problems with Photon Fields in CRPropa 3.1.7+"
**Describe the bug**
I discovered two, possibly connected, problems with the background photon fields, in particular the EBL. These occur for CRPropa 3.1.7 and the latest github version but not for the older release 3.1.6. I have discussed this with @avvliet already and he has confirmed that he is getting the same problems/errors.

1. Insufficient production of cosmogenic neutrinos via interaction

[2021-06-08 06:47] lukasmerten commented on #264
As Swig 4.0.2 is now released one year ago, we might again take a look at this issue.

[2021-06-08 06:49] adundovi commented on #264
Is the issue fixed in the upstream?

[2021-06-08 06:55] lukasmerten commented on #264
I have no idea. I was just quickly checking if Swig 4.0.2 was already released as @TobiasWinchen suggested that this swig version might solve the issue.

[2021-06-08 06:55] TobiasWinchen commented on #264
The upstream bug is closed: https://github.com/swig/swig/issues/1595, but we have to test this of course

[2021-06-08 06:56] adundovi commented on #264
OK, I'll test it with the newest Swig.

[2021-06-08 07:02] TobiasWinchen commented on #264
4.0.2 is default in upcoming debain:bullseye, now in testing.

[2021-06-08 14:05] lukasmerten commented on #188
Since we did not have any activity since 11/2018 on the original issue (production of nuclei with Z<0) and nobody was able to reproduce this error, I guess we can close this issue for now.

[2021-06-08 15:22] lukasmerten commented on #126
The differences between theoretical expectations and the CRPropa results are from my quick research negligible for energies above 1TeV. As going to lower energies would break many other assumptions in CRPropa in basically all modules, I suggest to not fix this issue. In this way we consistently stick with ultra-relativitic approximations also for the beta decay.

I have added some more details to

[2021-06-08 19:25] #126 closed

[2021-06-09 07:46] TobiasWinchen opened #344 "Move CICD from travis-ci.org"
travis-ci.org will close on June 15th, we need to move to keep our automated tests and builds of the documentation

Migration Guide:
https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2021-06-09 09:08] #264 closed

[2021-06-09 10:17] lukasmerten commented on #344
I guess this has to be done by either you @TobiasWinchen  or @adundovi, because you are the organization owners.

[2021-06-09 11:17] #338 closed

[2021-06-09 11:40] adundovi commented on #344
Hmm, I've moved it but now we have limited amount of credits... so maybe we should move it to GitHub Actions. [See this](https://www.jeffgeerling.com/blog/2020/travis-cis-new-pricing-plan-threw-wrench-my-open-source-works).

[2021-06-09 12:29] TobiasWinchen commented on #344
I also tried moving it, but it seems not to work and showing up 5yr old builds as most recent build. maybe a side effect for us both moving in parallel? I will keep my hands of this for now.

Reading the post, I think github actions are the way to go. However, as basically all other projects I am involved with are using gitlab.com or a private gitlab instance I am not that motivated to work on thi

[2021-06-09 12:48] TobiasWinchen commented on #344
Note that also for github actions there is a a ressoruce limit of  2000 free minutes per month, but this can be easily extended with self-hosted shared runners if *somebody* is willing/can invest the ressources.

[2021-06-09 15:52] lukasmerten commented on #344
I thought travis-ci.com was free for open source projects. But maybe I am mistaken. However, I can confirm that under "branches" the shown build for master is super outdated. Looking at "build history" seems to work.

[2021-06-14 15:52] lukasmerten opened #346 "Missing online Documentation"
**Describe the bug**
The link to the documentation gives a 404-page-not-found error.

**To Reproduce**
Try to follow the documentation link

**Expected behavior**
Find the latest documentation

**System (please complete the following information):**
-firefox

**Additional context**
Maybe related: I am also not able to build the documentation locally.
Seetings:
OS: Ubuntu 18.04
gcc: 7.5.0
python: 3

[2021-06-23 15:09] cainaoliveira opened #347 "Add observatory exposure to lensed maps"
Hi
It is possible to weigh a particle's map (a map lensed by the galactic magnetic field) with arbitrary values? I am with an issue to add the experimental exposure to a map.

Best,
Cainã

[2021-06-23 15:40] rafaelab commented on #347
Hi,

If I understand correctly, your is how to get a CRPropa simulation and post-process it including your detector's specs. If that's the case you can use the lensed map or the lensed direction and directly fold in your exposure map with the simulation.  If that's the case, there is no intermediate step, it is just an operation between maps.

I will close the issue because it is not related to CR

[2021-06-23 15:40] #347 closed

[2021-06-23 16:13] TobiasWinchen commented on #347
Yes - you should be able to multiply the input map by an numpy array with the weights.

[2021-06-23 18:10] cainaoliveira commented on #347
Thanks!

[2021-07-02 10:52] wilson-2015 commented on #346
hi! I am not getting these instructions on how to access the documentation any further clarifications please? It appears I have to change the firefox configurations to the ones you have listed but I can't locate these options in my web browser.
Thanks,
Wilson.

[2021-07-05 19:42] dy2403 opened #348 "installation: numpy not found - but I installed using pip"
Dear developers,

I have problems installing CRPropa on my system
**System Information: (Please fill out the following information)**
 - Operating system: iOS version 11.4
 - Laptop
 - Python version: 3.9.1
 - Swig version: 4.0.2
 - Cmake version: 3.20.5

**Did you install CRPropa from git or download a release?**
I installed version 3.1.7 from the releases.

**Things that I tried before asking fo

[2021-07-06 15:04] bcmartinez38 commented on #346
I am also unable to access the online documentation.

[2021-07-06 16:36] lukasmerten commented on #346
Just a short update from my side:

Today I downgraded to the sphinx (and related modules) versions as given in  [travis configuration](https://github.com/CRPropa/CRPropa3/blob/master/.travis.yml).
This leads at least on my system (see above) to many warnings and finally fails with something like "'nbformat.notebooknode.NotebookNode object' has no attribute 'widgets'". This made me think that the i

[2021-07-06 16:47] rafaelab commented on #346
I also failed to find a solution, @lukasmerten.

For the users (@wilson-2015, @bcmartinez38): In the meantime, you can access the notebooks with examples [here](https://github.com/CRPropa/CRPropa3/tree/master/doc/pages/example_notebooks).

If you need instructions of specific features, you can directly take a look at the [source code](https://github.com/CRPropa/CRPropa3/tree/master/include/crpropa

[2021-07-07 09:35] lukasmerten commented on #346
**Update**

It seems there were two independent issues with the documentation:

1) The widget state needs to be saved
2) The ipython/jupyter magic line `%matplotlib notebook` seems to be problematic. Changing to  `%matplotlib inline` seems to solve the problem. (Unfortunately, both problems were present in the notebooks I tested yesterday)

For the moment I am able to build a documentation locally

[2021-07-09 02:28] afedynitch opened #350 "testMagneticLensPythonInterface fails"
Hi!

When building latest master or 3.1.7 tag on Ubuntu 20.04 one of the tests fails with SEGFAULT.

Running tests...
Test project /home/afedyni/CRPropa3/build
      Start  1: testCore
 1/20 Test  #1: testCore ..........................   Passed    0.04 sec
      Start  2: testVector3
 2/20 Test  #2: testVector3 .......................   Passed    0.00 sec
      Start  3: testModuleList
 3/20 Test

[2021-07-09 19:11] #348 closed

[2021-07-12 12:22] #346 closed

[2021-07-12 13:41] lukasmerten commented on #350
I can reproduce this error on Ubuntu 18.

If someone encounters this problem in their analysis: you can work around this bug by manually adding particles with `addParticle` one at a time.

[2021-07-13 06:36] afedynitch commented on #350
Thanks

[2021-07-14 15:08] tdwiser commented on #350
I also encountered this is attempting to fix #316. I'm not 100% sure what the actual issue was but fixing the segfaults involved invoking the Python Global Interpreter Lock, and also being extra careful with the memory ordering of the numpy arrays since we are messing with them manually. Skipping these steps makes the code very context sensitive to what numpy/python decide to do with your memory r

[2021-07-14 15:34] JonPaulLundquist commented on #85
This error still appears with CRPropa v3.1.6. My sources are up to 215 Mpc and I'm generating 4,000,000 nitrogen particles.

This is the end of the output of my log file. It appears that the simulation does not finish according to the progress bar though the number of nucleons and neutrinos in my output file might be about what I would expect? The code itself does not crash as the DintElecaPropaga

[2021-07-15 14:42] JonPaulLundquist commented on #188
This error still appears with CRPropa v3.1.6. My sources are up to 215 Mpc and I'm generating 4,000,000 nitrogen particles.

This is the end of the output of my log file. It appears that the simulation does not finish according to the progress bar though the number of nucleons and neutrinos in my output file might be about what I would expect? The code itself does not crash as the DintElecaPropaga

[2021-07-31 14:35] #340 closed

[2021-07-31 14:37] lukasmerten commented on #340
@ehlertd I hope we fixed this issue with #351. Please reopen this issue in case you still find some problems. Thanks again for detailed report.

[2021-08-05 08:31] ehlertd opened #354 "Extracted data-Folder Name Mismatch"
Hi,
I've encountered a minor problem in installing the latest CRPropa version from github (ed6f904) in the virtualenv approach. When running `make install` the command throws an error that the `.../build/data` directory does not exist. Looking at it in more detail the problem seems to be that the compressed data-yyyy-mm-dd.tar.gz file is not extracted to the folder data/ but rather to data-yyyy-mm

[2021-08-11 19:35] regiopires commented on #270
Me desculpem a a demora em responder....

Mas respondendo as perguntas:
Sim, Eu Atualizei. Mas não funciona.

Só funciona quando de desabilito o Suporte a Python

[2021-08-17 09:00] lukasmerten commented on #354
Sorry for the late reply, but I think most of the CRPropa team was or still is on vacation.

@ehlertd can you check if the linked PR fixes your problem?

[2021-08-17 12:46] ehlertd commented on #354
Yes, after the change it works as intended.

[2021-08-17 14:26] cbadams2 opened #356 "See progress bar in jupyter notebook?"
**Please describe what you want to do with CRPropa and you currently can't**
Currently the progress bar shows up when running python scripts using the CLI, but not in jupyter notebooks (assuming this is not a bug, and they are not expected to show up in notebooks - I'm not sure). Especially for people who are just getting started with CRPropa, this would be a great feature to allow more interactiv

[2021-08-18 10:16] lukasmerten commented on #354
Perfect. As soon as someone officially approves the PR, I will merge it.

[2021-08-22 22:37] #354 closed

[2021-08-23 10:47] lukasmerten commented on #344
The last build #875 was already partially canceled since we ran out of credits. This means that we have no automated testing at the moment.

[2021-08-26 20:28] RodSasse opened #358 "swig error : Unrecognized option -doxygen"
Dear developers,

I have problems installing CRPropa on my system
**System Information: **
 - Operating system: [Ubuntu Linux 20.04]
 - Cluster
 - Python version: 3.8
 - Swig version: 3.0.12
 - Cmake version: 3.16.3

**Did you install CRPropa from git or download a release?**
I installed version 3.1.7 from the releases.

When I give the make command the following error appears:

[ 84%] Built targe

[2021-08-28 13:25] wilson-2015 opened #359 "Installation on Linux mint"
Hi!

I have a problem installing crpropa on Linux mint version 19. I have installed from git using system path procedures and I have followed the instructions perfectly well.

I have installed all the necessary packages including swig version 3.0.12. All the tests also ran successfully after installation.

However, crpropa doesn't run when I import it and it gives this error:
"""ModuleNotFoundErro

[2021-08-29 15:26] TobiasWinchen commented on #359
From your output I see is that you use anaconda python next to the system python. Please make sure that the site package directory you are installing CRPropa into  (/home/wilson/.local/lib/python3.7/site-packages) is used by your anaconda python installation as module search path.

[2021-08-30 09:24] wilson-2015 commented on #359
Hi Tobias!
Basically this is the problem I have been facing. I have been trying to make anaconda aware of the directory where crpropa is installed but it is not working, which is strange.

[2021-08-30 10:02] TobiasWinchen commented on #359
Please note that our documentation so far does not cover the anaconda python case, and I have not used anaconda myself so far. Where does anaconda python put packages that are installed via pip / setuptools? From the CMake output I would guess that this is somewhere under /home/wilson/anaconda3 - possibly it makes sense to also install CRpropa under the anaconda directory using it as install prefi

[2021-08-30 14:33] wilson-2015 commented on #359
Hi Tobias!
Installing crpropa under anaconda has worked now running thank you very much.

[2021-08-30 14:39] #359 closed

[2021-09-15 20:11] antoniusf opened #361 "Reflective boundary conditions show undesirable behavior like discontinuities and asymmetry"
**Describe the bug**
While extending @LeanderSchlegel's work on tricubic interpolation to support reflective boundary conditions, we discovered some problems with the current implementation, such as:

 - the interpolation "going backwards" in mirrored sections of the grid, leading to an incorrectly interpolated grid, along with discontinuities,
 - the grid not being centered inside the used bounda

[2021-09-29 13:33] IevgenVovk opened #365 "Custom magnetic fields ignored by the propagation modules"
**Describe the bug**
A custom magnetic field defined in a Python class is accepted, but apparently not used by the propagation modules `PropagationCK` and `PropagationBP`, resulting in a constant zero field being effectively employed. Though the  problem affects both `PropagationCK` and `PropagationBP`, it seems easier to demonstrate using the latter as it provides access to the field it is using.

[2021-10-01 09:21] reichherzerp commented on #365
Hi @IevgenVovk, thanks for reporting the error and the detailed description. I was able to reproduce the error.

**Problem**
As you have a Python class that inherits from the wrapped C++ MagneticField class containing virtual methods, cross-language polymorphism via directors is needed. Currently, your child Python class MyUniform should override the getField base class function. However, as we do

[2021-10-01 10:26] IevgenVovk commented on #365
Hello @reichherzerp , thanks a lot for checking! Indeed, CRPropa version from your branch does not suffer from this issue. I will then use your solution till this issue lands in the stable CRPropa release.

[2021-10-01 17:40] reichherzerp commented on #365
Great, thanks for testing. I prepared the PR and took the opportunity to introduce the getFieldAtPosition functions for the other propagation modules (PropagationCK and DiffusionSDE). Thanks again for the suggestions!

[2021-10-03 18:35] ghost opened #367 "Extragalactic Field Miniati and Dolag"
I'm using both of these fields to run a simulation of UHECR traveling to earth throughout these extragalactic fields.

I have figured out that Miniatis "box" on a side is 50/.67 ~ 74.62Mpc and the grid is 256. If you set z=-37.31, it will replicate the graph he uses on his paper showing the colorbar with the field values in log scales.

So basically it's a box of 74**3 in volume.

nvm just testing

[2021-10-04 10:29] #367 closed

[2021-10-04 16:03] #365 closed

[2021-10-06 11:52] PrantikS opened #369 "Runnig CRpropa on cluster"
Hi,

I wish to run CRPropa on cluster using multiple nodes. CRPropa can use all the processors available in a single node as it has OpenMP support. But it can not utilise processors across different nodes (perhaps, it requires MPI support). Therefore, I want to distribute multiple copies of CRPropa simulation code in different nodes using a single JOB script. For example, I have 3 cluster nodes: n

[2021-10-07 06:51] PrantikS commented on #369
Hi,
Here is the  code:

sim1.py

`from crpropa import *

photons= True
neutrinos=True
electrons= True

# set up random turbulent field
vgrid = Grid3f(Vector3d(0), 512, 30 * kpc)
initTurbulence(vgrid, 8 * nG, 60 * kpc, 800 * kpc, -11. / 3, 42)
Bfield = MagneticFieldGrid(vgrid)

# simulation setup
sim = ModuleList()
sim.add(PropagationCK(Bfield))
sim.add(FutureRedshift())
sim.add(PhotoPionProduction

[2021-10-07 06:53] PrantikS commented on #369
Hi,
Here is the code:

sim1.py

`from crpropa import *

photons= True
neutrinos=True
electrons= True

set up random turbulent field
vgrid = Grid3f(Vector3d(0), 512, 30 * kpc)
initTurbulence(vgrid, 8 * nG, 60 * kpc, 800 * kpc, -11. / 3, 42)
Bfield = MagneticFieldGrid(vgrid)

simulation setup
sim = ModuleList()
sim.add(PropagationCK(Bfield))
sim.add(FutureRedshift())
sim.add(PhotoPionProduction(CMB(

[2021-10-07 08:26] TobiasWinchen commented on #369
The issue is in your slurm script, you are executing all scripts on all nodes. A minimum working example (although quite tedious) would be to create 5 slurm scripts that submit one job to one node. Please ask you IT Team respectively cluster administrator for an introduction into your system or look for online tutorials.

[2021-10-07 10:34] saikatxdas opened #370 "Signature of sIndex in TurbulenceSpectrum"
Hi, I have a usage question.
Does "alpha" in `initTurbulence` has the same signature as "sIndex" in `SimpleTurbulenceSpectrum`? I am trying to set the value of "alpha" in
<B^2(k)> ~ k^alpha
to obtain a Kolmogorov spectrum. So should I put +11/3 or -11/3 for "sIndex" in `SimpleTurbulenceSpectrum`?

[2021-10-07 11:03] #370 closed

[2021-10-09 09:37] saikatxdas opened #371 "numpy vectorize Vector3d()"
Hi, I have a usage question regarding the usage of Vector3 class.

Before the change of data type for Vector3 class to array interface was made, it was possible to vectorize the PyObject to store arrays for x, y, z to create an array of Vector3d objects.
[code]
where x, y, z are numpy arrays derived from the direction data in CRPropa output. But now, this process yields the following error
`TypeEr

[2021-10-12 09:57] rafaelab commented on #334
Hi @alexkorochkin,

I spent quite some time working on this issue in the past few days. There was certainly something weird going on with the rates in the Thomson regime. This was indeed just the integration steps. I'm preparing a pull request to fix this now.
However, I cannot fully reproduce your results.
- Using the file you provided our results match.
- I tried increasing the integration steps

[2021-10-18 12:30] saikatxdas opened #372 "Make with gperftools fails: cannot find -lprofiler"
Dear developers,

I have problems installing CRPropa on my system
**System Information: (Please fill out the following information)**
 - Operating system: CentOS release 8.4.2105 (x86_64)
 - Computing cluster (Not a superuser)
 - Python version: 3.6.8
 - Swig version: 3.0.12 (Configured options: +pcre)
 - Cmake version: 3.18.2
 - GCC version: 8.4.1 20200928 (Red Hat 8.4.1-1)

**Did you install CRP

[2021-10-30 19:18] wilson-2015 opened #373 "Magnetic field setting by Dolag field"
I am trying to plot the cosmic ray energy spectrum with magnetic field by Dolag but I am not getting the expected flat spectrum.

I am simulating within the energy range of 3 EeV to 150 EeV without interactions. The spectrum has strong modulations at low energy but straightens towards higher energy as shown in the plot attached [Un1.pdf](https://github.com/CRPropa/CRPropa3/files/7447465/Un1.pdf).

[2021-11-02 15:14] #350 closed

[2021-11-03 16:03] lukasmerten commented on #361
Should be closed with #363.

[2021-11-03 16:03] #361 closed

[2021-11-05 00:15] Laruku25 commented on #373
This is an issue that's preventing me from finish my paper too.  Nobody knows what parameters to plug in for B factor, origin and even the size might not be 186*Mpc.

In dolag's paper it says it's about 115*Mpc.
Then you have CRPROPAs paper using 132*Mpc.
The file says 54-186*Mpc. Does that mean there's a high resolution of the field up to 54*Mpc? And 186*Mpc is total size?

The B factor is anothe

[2021-11-05 00:17] Laruku25 commented on #373
Also note that the origin at 0,0,0 doesn't match the actual position of us as an observer, i tried your 54*Mpc, and the simulation still starts outside of clusters like this graph. :(

[2021-11-08 20:51] wilson-2015 commented on #373
Hi Laruku,
Thanks for your detailed explanation and sorry for a late reply. Starting with your last question, why the spectrum have to flatten?, this is because I am throwing particles with a flat spectral index of -1 which I will re-weight later to a higher spectral index. And just like the particles detected at the source, I would expect particles detected at the observer to posses a flat spectr

[2021-11-10 22:31] Laruku25 commented on #373
Hey Wilson,

by labels I mean the numbers you see on the colorbars are in Tesla. The right field strenght (im pretty sure of it) is 1uG or 1e10 T at the red spots (clusters) just like the dolag paper from there everything will calibrate to the real values using the B factor.

I did not know the turbulent field will make the dolag field weaker I might try that. What Im trying now is to reduce the B

[2021-11-11 23:05] wilson-2015 commented on #373
Hi Laruku,

Thanks again for your detailed and helpful explanation. Yes, today I used your values, set B=1e-3 and commended out turbulent field. This gave me a flat spectrum that I was expecting. However, the magnetic field seems so reduced that the arrival direction of events  are not visible and out of expectation. I tried B=1e-2, and seems to produce good results for my case.

I also wanted to

[2021-11-12 05:44] Laruku25 commented on #373
glad its working for you, i think it may not be fartched to use different bfactors since we only know the strength at galaxy clusters and cores and not really outside so deflections may not be as large as many suggest.

By visualizing a magnetic field on a histogram, what do you mean? Can you give me an example perhaps from another paper of the kind of graph you want? I can make the code for you n

[2021-11-12 21:45] wilson-2015 commented on #373
thanks once more. I will look around in case I find someone with more knowledge on your plots I will let you know.

The histogram I wanted looks like this
[dwl.pdf](https://github.com/CRPropa/CRPropa3/files/7530552/dwl.pdf). The problem is the large file that I get when I dump grid to text. If there is a different way of plotting this I will really appreciate to know.

[2021-11-13 18:27] Laruku25 commented on #373
Try to get the values into an array using B.getField(Vector3d(a,b,c)) and make those vectors increase in small intervals as detailed as you want it to be, then use that array for your histogram.

The graphs I showed you represent the entire size/shape of dolag's field by the way. If it's 132Mpc for you then make the vectors change as low as 1kpc if you want.

lemme know if that helps you out.

[2021-11-14 20:05] wilson-2015 commented on #373
Hey Laruku!,

You will pardon me for my poor programming skills here. The way I understood is that starting from the centre of the box (0,0,0), I increment  the vectors in small sizes (preferably 1kpc) up to 75 Mpc which is the full size of the box.

The quickest code I am trying think about doesn't work maybe some inputs will be helpful:

BField = MagneticFieldGrid(vgrid)
a=b=c = np.linspace(0, 7

[2021-11-19 19:47] alexkorochkin commented on #334
Hi @rafaelab,

I calculated rates using my own script, because I didn't know CRPropa scripts are available online. In my previous post, by "simple estimate of a typical secondary photon energy" \<E\> I meant the expected value of E given the distribution dN/dE:

\<E\>=integral( E*(dN/dE)*dE )/integral( (dN/dE)*dE )

From theory we know that \<E\>=4/3 <E_cmb> (E_electron/m_electron)^2. For 1 TeV el

[2021-11-24 19:04] JonPaulLundquist commented on #373
I too appear unable to reproduce the results of arXiv:astro-ph/0410419. All of the important information is either missing or contradictory as already discussed. On another github issue thread it was suggested to use a b_factor = 10*9 * nG. This gives an average field of 5x10^-6 microgauss which from figures like figure 12 seems to be about correct. Yet, I can't seem to find any object correspondi

[2021-11-24 23:08] wilson-2015 commented on #373
Hi!
I hope the average field of 5x10^-6 microgauss, you are referring to Brms and not  average mean because this will be too strong. With b_factor in that range I too get an average field of around 1 picogauss which is in agreement with the results from cumulative filling factors.

I could not plot the attached plot with B.getField(Vector3d(a,b,c)) an error is raised when I load in the values of a

[2021-11-25 08:41] lukasmerten commented on #333
@saikatxdas can you confirm that my work-around by explicitely setting the arguments, does what you want?

[2021-11-25 08:46] lukasmerten commented on #316
Can @tdwiser or @MarcoChianese confirm that with @rafaelab PR (#352) this issue was solved?

[2021-11-25 09:15] rafaelab commented on #199
We have dropped the support for DINT and EleCa.  Deprecation warnings were added with #374 .
We encourage users to migrate to the CRPropa-native EM* modules (EMPairProduction, EMInverseComptonScattering, ...) to perform simulations of electromagnetic cascades.
Examples are available in the [documentation](https://crpropa.github.io/CRPropa3). A simple one that can be used to replace DINT/EleCa is [

[2021-11-25 09:15] #199 closed

[2021-11-25 09:17] rafaelab commented on #219
We dropped the support for DINT and EleCa in previous releases. Deprecation warnings were added with #374.
We encourage users to migrate to the CRPropa-native EM* modules (EMPairProduction, EMInverseComptonScattering, ...) to perform simulations of electromagnetic cascades.
Examples are available in the documentation. A simple script that can be used to replace DINT/EleCa for extragalactic propaga

[2021-11-25 09:17] #219 closed

[2021-11-25 09:18] #288 closed

[2021-11-25 13:35] JonPaulLundquist commented on #373
A larger b_factor results in a larger average magnetic field. My initialization is:

`    obsPosition = Vector3d(0,0,0)
    gridSize = 440
    size = 186*Mpc
    b_factor = 10**9 * nG
    spacing = size/(gridSize)
    vgrid = Grid3f( obsPosition, gridSize, spacing )`

Your suggestion of b_factor = 10^-2 results in B_ave = meanFieldStrength(vgrid) / nG =  0.4 nG = 5x10^-4 microgauss and an B_rms =

[2021-11-25 19:25] Laruku25 commented on #373
Hye John, if you want to match Dolag's max and min field strength you can use B=0.1 , then you'll get the values of the first figure I posted.

10^-10 in clusters virgo persa etc which in gauss is 10^-10*10^4 (Tesla to Gauss conversion) = 10^-6 = 1micG

and you do the same for the lowest values. I've gotten all the field values in an array and then use the python max and min function and matched t

[2021-11-26 03:38] saikatxdas commented on #333
@lukasmerten  Sorry for not following it up earlier. Yes, I have checked it now on CRPropa 3.1.7 and it works. Thank you for your help. This indeed works

[2021-11-26 13:20] JonPaulLundquist commented on #373
Hello Laruku25, So the reference to https://arxiv.org/pdf/astro-ph/0410419.pdf for the Dolag field on the CRPropa website https://crpropa.github.io/CRPropa3/pages/howto_cite_crpropa.html is not correct? I've sent an email to Dolag and one of the CRPropa guys for information about this file.

A b_factor = 0.1 results in an average field of 5 nG which would indeed result in much larger deflections t

[2021-11-26 18:10] Laruku25 commented on #373
No, the reference isnt necessarily wrong. It does follow the structure and shape of the paper but the strengths have been slightly changed while keeping the minimum and maximum values intact.  At least that's I believe.  So naturally you will get different different average values for the fields so don't expect to match anything on dolag's paper except maybe the minium and max fields (since I thin

[2021-11-26 18:22] Laruku25 commented on #373
https://forge.physik.rwth-aachen.de/public/quimby/mhd/   th quimby file was available through this link, maybe you can email or call the guys in charge of the repository, im sure they have it somewhere.

[2021-11-28 22:35] wilson-2015 commented on #373
Helo Laruku,

I hope you will get some time soon and look at my issue, I am really eager I want to know whether that histogram can be plotted with getField approach. Otherwise, I have been hoping to get an alternative way of reading a .raw file but I have just not succeeded yet.

[2021-12-02 14:58] JonPaulLundquist commented on #373
Coming back to this - I believe this is how you can load the magnetic field magnitude into numpy vectors so you can analyze it with ease.

[code]
I believe this gives you the positions and magnitudes in microGauss without using an insane amount of memory. The average field is 4.7x10^-6 microGauss consistent with Dolag et al. The maximum field is 8.4 microGauss also consistent with Dolag et al.

Qu

[2021-12-06 23:11] wilson-2015 commented on #373
Thanks for the great code. I have followed it and printed TRUE, TRUE meaning that both the aveField and rmsField as per Bmag are equivalent to that of the vgrid. I now expected that plotting Bmag in a histogram should give me a nice plot like this
[new.pdf](https://github.com/CRPropa/CRPropa3/files/7664063/new.pdf)
 but this is not what I am obtaining. Is there something maybe I am missing out? Of

[2021-12-07 20:16] JonPaulLundquist commented on #373
The indices were picking out a distance. ind = logical_and(D>53.5, D<54.1). This was the wrong distance, not sure what I was thinking... I believe the b_factor may also be in the name of the file: B = 54 Gauss.

[code]
This gives an average Bmag = 2.5x10^-4 microGauss which appears consistent with your linked histogram but my minimum is smaller and maximum larger. Doing the histogram like so:

`pl

[2021-12-07 21:49] Laruku25 commented on #373
Hey Wilson Im sorry I cant get back to you. Im about to travel to europe and kind of scared tbh getting my papers ready and this covid stuff too. But I see that you've gotten the help you needed from John. In case you need to graph fields here's the code I used. I am not too versed in programming either I only know python and only basic calculations:

`from crpropa import*
import numpy as np
impor

[2021-12-08 14:18] JonPaulLundquist commented on #373
I don't believe the field in https://arxiv.org/pdf/1603.07142.pdf is the same file. That covers (132 Mpc)^3 volume (not 186 Mpc) and is a grid of 256^3 points (not 440).

[code]

Results in "RuntimeError: loadGrid: file and grid size do not match" because the file has 440^3 grid points.

Also, I notice that you're defining the corner of your field box to be gridOrigin=Vector3d(0.5size,0.5size,0.5s

[2021-12-08 16:10] JonPaulLundquist opened #379 "Dolag Magnetic Field Parameters"
The Dolag magnetic field (dolag_B_54-186Mpc_440b.raw) provided does not include any instructions on how it should be used. Such as the size and b_factor. Loading the field with:
[code]

Assuming supergalactic coordinates I would assume that I would be able to pick out the features shown in Figure 12 of the paper CRPropa references for this field (https://iopscience.iop.org/article/10.1088/1475-751

[2021-12-08 17:20] JonPaulLundquist commented on #379
This paper https://indico.cern.ch/event/258092/papers/1588499/files/4149-crpropa.pdf seems to imply that the size is 186 - 54 Mpc = 132 Mpc. If that's the case I would recommend the file name be changed as that is highly unintuitive... Using:

[code]

I can find Virgo less than 10 degrees from where it's supposed to be at 20 Mpc (a Mpc or so off from Dolag) with a field of 2.4 microGauss. Good eno

[2021-12-08 17:22] JonPaulLundquist commented on #373
I just started a new report on this since this seems to be getting overlooked. https://github.com/CRPropa/CRPropa3/issues/379

I think that:

[code]

And the file name and the reference on the CRPropa site should be changed.

[2021-12-08 17:42] wilson-2015 commented on #373
Hello Paul!, First thanks for simplifying the code for the histogram and sorry for a late reply. I was still going through and now happy that everything works well.

Its great that you have opened a new ticket on Dolag field, actually a lot needs clarification. As you mentioned earlier, I made some adjustment in my script on boxOrigin and obsPosition to reflect parameters in your code.

Bro Laruku

[2021-12-10 00:35] Laruku25 commented on #373
Hey John I have doubts myself yes the 256 doesn't work only 440b works but i believe the magnetic field structure and shapes are from that paper, if they were from dolag's paper, you'd get the small deflection angles with heavy nuclei and and protons of 40*EeV the only way to get those is to get the B_field factor you've posted or something lower like that but if you put that B_factor you don't ge

[2021-12-10 12:50] JonPaulLundquist commented on #373
That's right. The center of the box is not the gridOrigin/boxOrigin parameter though. It's the corner. See the CRPropa example: https://crpropa.github.io/CRPropa3/pages/example_notebooks/extragalactic_fields/MHD_models.v4.html

If you want to simulate a trajectory to the Milky Way through the local universe with this simulated magnetic field you need to do something like :

[code]

Or something li

[2021-12-12 22:10] wilson-2015 opened #380 "New feature in CRPropa 3.2: Targeting"
The simulations of UHECRs are emitted isotropically from their sources and undergo deflections through IGMF before detection at the observer sphere. Obtaining enough statistics in this scenario is usually computationally intensive.  Personally I have been solving this problem by calculating the cosmic ray emission angle at the source and injecting particles through a small opening angle.

A new ap

[2021-12-13 07:59] lukasmerten commented on #380
The CRPropa 3.2 has not yet been published but will contain a more detailed description of the targeting feature. In addition, there is already an example [ipython notebook](https://github.com/CRPropa/CRPropa3/tree/master/doc/pages/example_notebooks/targeting) included in the current master branch.

[2021-12-13 07:59] #380 closed

[2021-12-13 10:40] wilson-2015 commented on #380
Thanks Lukas, this is exactly what I was looking for.

[2021-12-15 13:28] LeanderSchlegel commented on #334
Hi @alexkorochkin,

we tested the table for the photon density of the CMB recently and thought perhaps it could add to the discussion. We found that in CRPropa 3.1.7 this table had a bug that got fixed in the current version. In the attached plot the density tables in 3.1.7 and the current master (the upcoming CRPropa 3.2) are plotted as well as a self generated table by sampling the now analytica

[2021-12-16 13:36] cainaoliveira opened #381 "Custom Photon Field - Problems in creating"
Hi

I am trying to create and implement a custom photon field following the steps of this wiki page
https://github.com/Froehliche-Kernschmelze/CRPropa3/wiki/How-to-create-and-use-custom-photon-fields
I already have a table in the format described.

Unfortunately, I am not able to find the helper file called generate_tabFiles.py, and did not find a clear answer in the last issues. I am using CRProp

[2021-12-16 15:42] lukasmerten commented on #381
Hi @cainaoliveira

The short answer is: There is not yet an easy option to implement custom photon fields in CRPropa 3.1.7.

This option will be added in version 3.2. Most part of the functionality are already included in the current master branch, but we cannot offer support for the feature at this stage.

Already clear is that you will also need functionality (mainly computing pre-calculated dat

[2021-12-16 15:42] #381 closed

[2021-12-16 17:07] rafaelab commented on #334
Hi @alexkorochkin

During the development of new features for CRPropa 3.2, the `TabularPhotonField` class was added. I believe there was an error in the CMB implementation inheriting from it: the integral or derivative of the field was being used. This bug is obvious by analysing @LeanderSchlegel's plot.  In fact, if you take the CMB peak wavelength (not frequency) of 1.063 mm, you obtain results

[2021-12-17 08:16] #344 closed

[2021-12-17 08:28] #333 closed

[2021-12-17 14:55] JonPaulLundquist commented on #373
I know this thread has been dead awhile but I just made a cumulative fraction plot similar to Dolag et. al middle figure 1 (https://iopscience.iop.org/article/10.1088/1475-7516/2005/01/009/pdf) with the b_factor = 10*10**9 * nG. It looks very similar but there's a lower fraction of locations with B < ~10^-6 Gauss. Their plots aren't the whole field though.

![Dolag_BmagHistCumulative](https://user

[2021-12-17 15:07] lukasmerten commented on #373
Thanks @wilson-2015, @Laruku25, and @JonPaulLundquist for your lively discussions during the last weeks. Unfortunately, this issue has reached a point were to many things are mixed that a clear resolution of each of the points seems not possible for now. Therefore it will be closed. However, we would like to encourage you to continue your discussions via email.

Please note that the CRPropa issues

[2021-12-17 15:07] #373 closed

[2021-12-22 14:46] rafaelab commented on #334
Hi @alexkorochkin
As I said, I can reproduce the correct results with the data you sent. I'm still struggling to identify the source of the discrepancy, if it is the CRPropa-data repository, or if it is the CRPropa code itself. The findings of @LeanderSchlegel make it even more puzzling to me because I cannot find an obvious change that could have broken  things between 3.1.6 and 3.1.7.
Have you f

[2021-12-23 10:23] alexkorochkin commented on #334
Hi @rafaelab

I think I identified the origin of the problems in CRPropa. I checked CRPropa-data rep and focused on the script which calculates interaction rate and cdf (interactionRate.py). I found that if I replace calc_rate_s function with my own, the output tables become the same as the tables I calculated myself without CRPropa-data scripts (see attached plot for the inverse Compton scatterin

[2021-12-31 15:43] ke-fang commented on #316
I encountered the same issue brought up by @MarcoChianese. When installing the latest version (3.1.7) under python3.8 on MacOS, no error was reported and the c++ executable was generated, but importing the python site-package caused segmentation default. By replacing the CMakeLists from @tdwiser 's page  https://github.com/tdwiser/CRPropa3 and fixing the difference in the build list, the segmentat

[2022-01-04 14:00] rafaelab commented on #316
Hi @ke-fang
Does this happen also with the current development version, or only with 3.1.7?
I believe this issue has been fixed after the release of 3.1.7.

[2022-01-05 09:39] reichherzerp commented on #316
I tested it with the _current development version_ and for _3.1.7_ and encountered in both versions the test failure **17 - testMagneticLensPythonInterface (SEGFAULT)**. All other tests pass.

My setup:
Operating system: Ubuntu 20
Python version: 3.8.5
SWIG Version: 4.0.1
cmake version: 3.16.3

[2022-01-12 08:40] ke-fang commented on #316
Both, I think. I have Mac OS Big Sur 11.6.1, python 3.8.12, cmake 3.19.6, swig 4.0.2. Another machine with Mac OS Monterey 12.1 encountered the same issue.

[2022-01-15 11:44] VasundharaShaw opened #386 "CPropa3 installation make tests fail"
Hello,

I am trying to install CRPropa3 on MacOs 12.1 (21C52).  I used both cmake and CMAKE_PREFIX_PATH=$CRPROPA_DIR cmake -DCMAKE_INSTALL_PREFIX=$CRPROPA_DIR \
-DPYTHON_EXECUTABLE=/usr/local/Cellar/python/3.7.4/bin/python3 \
-DPYTHON_LIBRARY=/usr/local/Cellar/python/3.7.4/Frameworks/Python.framework/Versions/3.7/lib/libpython3.7.dylib \
..

"make" runs without bugs but "make tests" fails.

Any su

[2022-01-16 12:50] VasundharaShaw commented on #358
Hello,
I have a macOS 12.1 and I have the same issue. the swig version I have is also 3.0.12 and i did as was suggested above. how should i proceed? thanks

[2022-01-17 15:50] LeanderSchlegel opened #387 "Problematic definition of the spectral index in PlaneWaveTurbulence"
Dear all,

we noticed a problematic definition respective a bug regarding the spectral index treatment in PlaneWaveTurbulence and opened this issue to ask you if we see it correctly and formally report the issue. If we should change it, it should only be a small modification of the handling of the spectral index in the source code.

**Definition of the issue**
Using SimpleTurbulenceSpectrum just p

[2022-01-17 16:41] rafaelab commented on #387
Hi @LeanderSchlegel,
Maybe @adundovi can tell a bit more about the conventions he adopted for the definition of the power spectrum.

[2022-01-17 16:44] adundovi commented on #387
Hi @LeanderSchlegel, thanks @rafaelab,

yes, it is true that there could be a mistake in calculating the correct index, I have noticed the same in `PlaneWaveTurbulence`, but didn't have time to play around with it to double check it. The internal conversion should convert it from 5/3 to -11/3.

[2022-01-17 16:56] antoniusf commented on #387
Hi, just a quick note from me: The problem appears to be in [`TurbulenceSpectrum::energySpectrum`](https://github.com/CRPropa/CRPropa3/blob/f790e32668edc9bee666c0029f5459d2339d84ac/include/crpropa/magneticField/turbulentField/TurbulentField.h#L80), where the energy spectrum is computed as

<img src="https://render.githubusercontent.com/render/math?math=\frac{k^q}{(1 %2b k^2) ^ { (s %2b q)/2 %2b 1}

[2022-01-17 17:04] adundovi commented on #387
Hmm, OK, I'll take a look how to make it consistent since the same spectrum interface should apply both, to the grid and the plane-wave methods.

[2022-01-18 10:20] JulienDoerner commented on #386
Hey @VasundharaShaw,

could you give some more information which tests are failing? Or what is the output of `make test`?

[2022-01-21 08:48] JulienDoerner commented on #386
hey @VasundharaShaw,

could you check the output of the mentioned file

and post it here.

So that python can find crpropa it is neccessary to run first `make install`. Please try to run it and check if the errors of `make test` still exist.

[2022-01-21 12:35] VasundharaShaw commented on #386
[LastTest.log](https://github.com/CRPropa/CRPropa3/files/7913583/LastTest.log)

Hi @JulienDoerner

I have uploaded the Log file. And i did run make install afterwards make test. But the tests still fail. Its also in the log file.

Please let me know if this is the file you were asking.

[2022-01-21 13:01] JulienDoerner commented on #386
Hi @VasundharaShaw,

thanks for the log file. This is what I meant. I will have a look in it later on.

[2022-02-17 06:56] adundovi commented on #387
@antoniusf @LeanderSchlegel, O.K., I agree that we should stick to the second formula as it is a text-style definition (I also use it in my 2020 turbulence paper, Eq. 20) and add the "+1" correction in [`GridTurbulence`](https://github.com/CRPropa/CRPropa3/blob/f790e32668edc9bee666c0029f5459d2339d84ac/src/magneticField/turbulentField/GridTurbulence.cpp#L98). I am really sorry for not reviewing and

[2022-02-17 18:10] LeanderSchlegel commented on #387
Thanks for your ok! We prepared a small fix changing the +1 and found that it would be uniform to also change the argument of energySpectrum in TurbulentField.h from khat to k, putting the multiplication with l_bendover into the function. We tested that it works and could prepare a pullrequest in the coming days :)

[2022-02-25 05:32] Laruku25 commented on #379
Hey John you want discuss this through discord or something? Can I have your email? I think I can get the quimby file which is more accurate to Dolag's paper. We could work on using that instead. Here's my email: msalas02@citymail.cuny.edu

[2022-04-25 08:37] LIZHICHAOUNICORN commented on #358
I also found this error when i use faiss,  it was swig3.0 not support ,  you can manual install swig4.0.1, it solved my problem.

[2022-04-25 09:11] VasundharaShaw commented on #358
Thanks a lot for this tip. I will give it a go.

[2022-05-16 06:05] #387 closed

[2022-05-23 13:40] lukasmerten commented on #386
@VasundharaShaw: I'll close this issue due to inactivity. Please reopen it in case the problem persists.

[2022-05-23 13:40] #386 closed

[2022-05-23 13:41] antoniocapanema opened #390 "CRPropa3.1.7 installation in macOS 12.3.1"
Dear developers,

I have problems installing CRPropa on my system
**System Information:**
 - Operating system: macOS 12.3.1
 - Laptop
 - Python version: 3.9.7
 - Swig version: 4.0.2
 - Cmake version: 3.21.4

I installed version 3.1.7 from git.

I read and followed the installation instructions at https://crpropa.github.io/CRPropa3/ . Before writing this request I also checked previous installation

[2022-05-23 13:42] lukasmerten commented on #372
@saikatxdas: Does that problem still persist? Can you provide any additional information?

[2022-05-23 13:51] lukasmerten commented on #358
@VasundharaShaw could you solve the issue by upgrading your swig version?

[2022-05-23 13:57] lukasmerten commented on #316
@ke-fang, @tdwiser Can anyone of you confirm that all tests pass except for the **testMagneticLensPythonInterface (SEGFAULT)** as @reichherzerp  reported?

In that case I would guess that it's probably not a general python issues but something in the magnetic lens interface might be broken.

[2022-05-23 15:19] lukasmerten commented on #316
Ok, so we keep that issue open for reference. Please let us know if you have any news on that. Unfortunately I've heard from others too, that the M1 chip with macOS 12 seems to be problematic for CRPropa.

[2022-05-23 15:27] VasundharaShaw commented on #358
Unfortunately, no.

[2022-05-23 16:58] tdwiser commented on #316
@lukasmerten OK I made some progress, there is a problematic function in the kiss library (executable_path()) which does not work on macos and causes some memory problem. This is bypassed if you set -DCMAKE_INSTALL_PREFIX and `make install` before `make test`.

Now I have built and run all tests on macOS 12.3.1, M1 chip, building for x86_64 (running under 'Rosetta' translation layer in mac lingo),

[2022-05-24 08:49] adundovi commented on #316
Please, try running these python scripts manually, for example, the simplest one (`testSimulationExecution`):
```python testSimulationExecution```
Or better, running it with `gdb` could output more useful information (if CRPropa is compiled with debugging symbols):
```gdb -ex r --args python testSimulationExecution.py```
(use `c` to continue if the program is paused and `bt` to obtain a backtrace,

[2022-05-30 23:48] antoniocapanema commented on #390
Hi @lukasmerten,
Thank you so much for your prompt reply. I was able to bypass this issue with the flag -DNO_TCMALLOC=TRUE. However, I ran into another issue a little further ahead during the "make" stage:

---------

[ 88%] Linking CXX shared module _crpropa.so
Undefined symbols for architecture arm64:
  "_PyBytes_AsStringAndSize", referenced from:
      SWIG_AsCharPtrAndSize(_object*, char**, un

[2022-06-03 09:09] JulienDoerner commented on #390
As the problem is solved I close the issue now. If there are further problems please reopen the issue.

[2022-06-03 09:09] #390 closed

[2022-06-08 15:06] jstvdk opened #392 "cmake does not see correct version of swig"
Dear developers,

I have problems installing CRPropa on my system
**System Information: (Please fill out the following information)**
 - Operating system: RHEL 7
 - Laptop or computing cluster:  Computer Cluster MOAB
 - Python version: 3.7
 - Swig version: its the main problem! /usr/bin/swig v = 2.0, but I installed manually swig4.0 and add it to the beginning of the $PATH
 - Cmake version: 3.17

[2022-06-09 08:58] lukasmerten commented on #392
Please try to provide the path to your installed swig version manually, e.g., by using the -D flag with cmake to set the [following variables](https://cmake.org/cmake/help/v3.0/module/FindSWIG.html).

[2022-06-09 09:32] jstvdk commented on #392
Thanks for the reply. I already tried to do this, but still getting error (Could NOT find SWIG: Found unsuitable version "2.0.10").
Maybe I am doing cmake command not accurately?

-DSWIG_DIR=/home/tu/tu_tu/tu_p13vo01/miniconda3/envs/crpropa/share/swig/4.0.2
-DSWIG_EXECUTABLE=~/miniconda3/envs/crpropa/bin

DSWIG_DIR = result of command 'swig -swiglib'
DSWIG_EXECUTABLE = result of command 'which swi

[2022-06-09 13:13] lukasmerten commented on #392
Mmmh that's not really clear to me.
My only suggestions are:
1) Delete all generated files (e.g., the build directory) before reattempting the installation
2) Try again with the flags you used above.

Maybe someone else has some suggestions? I usually used the system's swig, which is due to the old version for you not working.

[2022-06-10 12:20] jstvdk commented on #392
Thank you a lot! Deleting build directory solve this problem. Now it finds correct version of swig.
I am sorry if its not connected issue, but I want to ask also why cmake can't find fftw library. I am using method discussed in previous issue "fftw3 not found #297", adding the flag to cmake command with path to the libfftw3.so file:

-DFFTW3F_LIBRARY=/opt/bwhpc/common/numlib/fftw/3.3.8-openmpi-3.1

[2022-06-10 12:39] jstvdk commented on #358
I also got this problem and solve it, maybe it will help someone:

In my situation (two versions of swig in the system, in /usr/bin and installed by me manually into the conda env) this error rises only when just cmake flags are stated, but $PATH not updated. So to solve this one need to:
1) add this cmake flags to cmake command:
-DSWIG_DIR=~/miniconda3/envs/crpropa/share/swig/4.0.2 - this is the

[2022-06-11 08:02] VasundharaShaw commented on #358
many thanks for the suggestion. I will look into it.

[2022-06-13 14:15] jstvdk commented on #392
Okay then, I will create new ticket for FFTW problem because I still can't solve it.

The problem of finding correct version of the SWIG is solved, this ticket can be closed. Thank you for help.

[2022-06-13 14:15] #392 closed

[2022-07-06 16:12] #334 closed

[2022-07-07 00:29] DarKnight48 opened #395 "Any idea on how to implement a uniform distribution energy spectrum without using weights?"
I want to run a toy simulation using a uniform distribution for the energy spectrum to have enough statistical data for the high-energy part. Currently, I can't do this within a reasonable amount of computing time with the built-in Power-law spectrum. I know it can be done using weights, but this is not what I need because I want to reduce the computation time.

It would be great if the possible s

[2022-07-07 15:31] lukasmerten commented on #395
I am not exactly sure what you are asking for.

There are only two option to model a certain injected spectrum dN/dE \propto E^\alpha:
a) Use the build-in power law spectrum of the source class with the correct power law index \alpha
b) Use the build-in power law spectrum with a different power law index \beta and apply a reweighting based on the energy at source E_0 and the power law indices \alp

[2022-07-18 04:00] JassimarS opened #397 "Segmentation fault by using transformModelVector function"
Hi all,
I am new to CRPropa but I was just playing around and trying to replicate some of the example plots on the documentation website and I had an issue with one on this page:
https://crpropa.github.io/CRPropa3/pages/example_notebooks/galactic_lensing/lensing_maps.v4.html

The healpy dipole plot works correctly but then applying a magnetic lens using the transformModelVector command (as done in

[2022-07-18 10:18] rafaelab commented on #397
Hi @JassimarS
I confirm the bug with the current development version of CRPropa on OSX, using both python 3.9 and 3.10. However, using CRPropa 3.1.7 on a Linux system with python 3.7  the example ran just fine.

[2022-07-18 14:15] lukasmerten opened #398 "Access to additional resources currently limited"
Parts of the additional resources (e.g. extragalactic magnetic gield models) are currently not available on the webpage (https://www.desy.de/~crpropa/).

The installation of the last published (v3.1.7) and current master version seems to work fine.

We are working on a solution.
In urgent cases, please write an email to one of the developers to get access to these files.

[2022-07-18 14:27] lukasmerten commented on #398
Thanks to @adundovi the dix was faster than expected. Access should be restored.

[2022-07-18 14:27] #398 closed

[2022-07-27 21:19] angelinapartenheimer opened #400 "Segmentation Fault on Test #17: testMagneticLensPythonInterface"
Dear developers,

I ran into a Segmentation Fault while installing CRPropa.

System Information:
 - Operating system: macOS Monterey 12.4
 - Laptop
 - Python version: 3.10.5
 - Swig version: 4.0.2
 - Cmake version: 3.20.1

Here is the test failing:

[code]

The test fails without output, which isn't super helpful. I did view a similar issue on GitHub: https://github.com/CRPropa/CRPropa3/issues/316